사용자로부터 어떤 값을 받고, 해당 값을 한화(로 바꿔서 출력되도록 해주세요
ex) 100 ==>환율 1112원 // 111200원으로 출력되도록 해주세요`

In [17]:
cash =float(input("환전할 금액을 입력해주세요. (예: 100 달러):"))

print(f"{cash*1112:,}원")

환전할 금액을 입력해주세요. (예: 100 달러): 100

111,200.0원

달러의 환율을 1112원으로 설정, 위안화의 환율을 171원으로 설정, 엔화의 환율을 1010원으로 설정하되, 해당 화폐당 환율의 값을 딕셔너리라는 자료구조로 정의. 사용자가 달러 혹은 엔화 혹은 위안화 값ㅇ르 입력했을 떄, 해당 값을 원하는 값을 입력했을때,
ex) 100달러 => 111,200 // 100위안 => 17,100원

In [43]:
cash = input("달러,위안,엔 입력하세요.")
exchange = {"달러": 1362,"위안":190, "엔":9.48 }

if cash[-2:] == "달러":
    print(f"{exchange['달러']*int(cash[0:-2]):,} 원")
elif cash[-1:] == "엔":
    print(f"{exchange['엔']*int(cash[0:-1]):,} 원")
elif cash[-2:] == "위안":
    print(f"{exchange['위안']*int(cash[0:-2]):,} 원")

달러,위안,엔 입력하세요. 50000달러

68,100,000 원

In [35]:
cash_list = {"달러" :1362.33 , "위안":190.15 , "엔화": 9.48}
money = input("환전하시고자하는 달러, 위안, 엔화 중 하나를 입력하세요.")

if money[-2:] =="달러" :
    print(f"{cash_list['달러']*int(money[0:-2]):,} 원")
elif money[-2:] =="위안" :
    print(f"{cash_list['위안']*int(money[0:-2]):,} 원")
elif money[-2:] =="엔화" :
    print(f"{cash_list['엔화']*int(money[0:-2]):,} 원")

환전하시고자하는 달러, 위안, 엔화 중 하나를 입력하세요. 720달러

980,877.6 원

구구단 2*1=2 2-9까지의 숫자가 반복, 순회해야한다. -> 반복되는 동안 1~9까지의 숫자의 반복, 순회가 다시 필요! -> 이것도 반복해야한`다.

In [55]:

for gugu in range(2,10) :
    print()
    print(f"-------{gugu}단-------")
    print()
    for dams in range (1,10):
        print(f"{gugu} X {dams} = {gugu*dams}")

-------2단-------

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

-------3단-------

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

-------4단-------

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

-------5단-------

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

-------6단-------

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

-------7단-------

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

-------8단-------

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

-------9단-------

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [58]:

for gugu in range(2,10) :
    print()
    print(f"-------{gugu}단-------")
    print()
    for dams in range (1,10):
        if (gugu*dams)%2!=0:
            print(f"{gugu} X {dams} = {gugu*dams}")

-------2단-------


-------3단-------

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

-------4단-------


-------5단-------

5 X 1 = 5
5 X 3 = 15
5 X 5 = 25
5 X 7 = 35
5 X 9 = 45

-------6단-------


-------7단-------

7 X 1 = 7
7 X 3 = 21
7 X 5 = 35
7 X 7 = 49
7 X 9 = 63

-------8단-------


-------9단-------

9 X 1 = 9
9 X 3 = 27
9 X 5 = 45
9 X 7 = 63
9 X 9 = 81

In [68]:
age = int(input("나이를 입력하세요."))

if 0 < age and age <= 12 :
    print("어린이 입니다.")
elif  age<=18 :
    print("청소년 입니다.")
elif 19<=age :
    print("성인입니다.")

나이를 입력하세요. 2

어린이 입니다.

In [74]:
num = int(input("2~9단까지 구구단을 입력하세요."))

if 2 <= num and num<=9:
    for gugu in range(1,10) :
        print(f"{num} X {gugu} = {num *gugu}")
else :
    print("다른 숫자를 입력하세요.")

2~9단까지 구구단을 입력하세요. 10

다른 숫자를 입력하세요.

In [82]:
a = int(input("숫자 1"))
b = int(input("숫자 2"))
c = input("연산자를 입력하세요.(+,-,*,/) :")
 
if c == "+":
    print(f"{a+b}")
elif c == "-":
    print(f"{a-b}")
elif c == "*":
    print(f"{a*b}")
elif c == "/":
    print(f"{a/b}")
else :
    print("잘못된 연산자입니다.")

숫자 1 1563
숫자 2 654
연산자를 입력하세요.(+,-,*,/) : 4

잘못된 연산자입니다.

In [6]:

def get_average (numbers) :
    if len(numbers) ==0 :
        return "데이터 없음"
    else :
        return sum (numbers) / len(numbers)

print(get_average([23,5416,321,584]))

1586.0

In [27]:

def get_even_numbers (numbers) :
    nov=[]
    for n in numbers:
        if n%2 ==0:
            nov.append(n)
    return nov
print(get_even_numbers([23,45,213,45,231,46,213,48,96]))

[46, 48, 96]

In [37]:
def max_even (numbers):
    nums = []
    for num in numbers:
        if num%2==0:
            nums.append(num)
            
    if len(nums) ==0:
        return "짝수가 없습니다"
    else :
        return max(nums)

print(max_even([5,78,45,63,22,15,16,82]))

82

In [38]:
def is_palindrome (text):
    sliced=[]
    text.split(sliced)
    for a in sliced:
        a.reverse

SyntaxError: expected ':' (1231366592.py, line 1)

In [47]:
def is_palindrome (text):
    text = text.lower()
    text = text.replace(" ","")
    
    if text == text[::-1]:
        return True
    else :
        return False

print(is_palindrome("A man a plan a canal Panama"))

True

In [46]:
def is_palindrome(text):
    text = text.lower()
    text = text.replace(" ", "")
    
    if text == text[::-1]:
        return True
    else:
        return False

print(is_palindrome("A man a plan a canal Panama"))

True

In [50]:
num=[]
def extract_numbers (what):
    what = what.split()
    if what == [0,1,2,3,4,5,6,7,8,9]:
        return num(int[])
    else : 
        return []

print(extract_numbers(lejhwlf123))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3082234576.py, line 5)

In [56]:
def extract_numbers (text):
    result = []
    for a in text:
        if a.isdigit():
            result.append(int(a))
    return result
print(extract_numbers("lejhwlf123"))

[1, 2, 3]

In [60]:
def count_words (nums) :
    num = nums.count()
    num = nums.split()
    return int(num)

print(count_words("what are you"))

TypeError: count expected at least 1 argument, got 0

In [62]:
def count_words(nums):
    words = nums.split()
    return len(words)
print(count_words("what are you"))

3

In [68]:
def is_valid_email (email):
    email = email.split("@") 
    if email[:-4] == ".com":
        return True
    else:
        return False

print(is_valid_email("pmj960128@naver.com"))

False

In [71]:
def is_valid_email (email):
    if email.count("@") != 1:
        return False
    local,domain=email.split("@")
    if len(local) ==0 or len(domain)==0:
        return False
    if "." not in domain:
        return False
    else:
        return True

print(is_valid_email("pmgfwkeml.net"))

False

In [75]:
a ="apple banana apple orange apple banana"
a=a.split()
b = a.count("apple")
c = a.count("banana")
d = a.count("orange")
print(b,c,d)

3 2 1

In [76]:
def count_words(text):
    result = {}
    words = text.split()

    for word in words :
        if word in result :
            result[word] +=1
        else:
            result[word] =1
    return result

print(count_words("apple banana apple orange apple banana"))

{'apple': 3, 'banana': 2, 'orange': 1}

In [79]:
def count_chars (cou):
    result={}
    cou = cou.count()

    for coun in cou :
        coun = result
    
print(count_chars("내가준 내기 내림"))

TypeError: count expected at least 1 argument, got 0

In [80]:
def count_chars (cou):
    result = {}
    for ch in cou:
        if ch in result:
            result[ch] +=1
        else :
            result[ch] =1
    return result
print(count_chars("내가준 내기 내림"))

{'내': 3, '가': 1, '준': 1, ' ': 2, '기': 1, '림': 1}

In [94]:
def most_common_char (text) :
    result = {}
    for due in text :
        if due in result:
            result[due]+=1
        else:
            result[due] =1
    return max(result, key=result.get)
    
print(most_common_char("what is your favorite foodiii?"))

i

In [98]:
def get_unique_chars (text):
    result={}
    
    for ih in text:
        if ih in result :
            result[ih] += 1
        else : 
            result[ih] = 1
    uniqe = []
    for ih in result :
        if result[ih] ==1:
            uniqe.append(ih)
    return uniqe
print(get_unique_chars("bannana"))

['b']