- 사용자로부터 어떤 값을 받고, 해당 값을 한화(로 바꿔서 출력되도록 해주세요
- ex) 100 ==>환율 1112원 // 111200원으로 출력되도록 해주세요

In [17]:
# 인풋값을 넣어서 사용자 정의 값. 을 만들고 한화로 바꾸려면 프린트 값에 1112원을 곱한다.

money = int(input(f"$금액을 입력하세요., $")) str("달러")

print(f"환전 값 : {money*1112}원")

$금액을 입력하세요., $ 500

환전 값 : 556000원

#수학 => math X
#수학능력평가시험 => 수학 => 논리성!!!
#문제를 풀던 못풀던 간에 일단 내가 해결하고 싶은 것을 말로 표현!!(국어)
#생각을 먼저하고 생각한것을 표현하려고 노력하는것!

1. 사용자에게 값을 받는다. - input(), int()
2. 사전에 환율을 정의해서 특정 변수를 할당해 놓는다. - 변수 정의만 하면 됨. 
3. 사용자에게 받은 값을 사전에 정의해 놓은 환율과 계산한다. - 연산자만 알면 됨
4. 사용자의 값과 환율을 계산한 그 결과값을 출력한다. - 출력=print

price = int(input("환전하고 싶은 달러를 입력해주세요, ex) 100달러") int라는 함수를 지워야함
price = input("환전하고 싶은 달러를 입력해주세요, ex) 100달러")
exchange = 1112

In [23]:
price = input("환전하고 싶은 달러를 입력해주세요, ex) 100달러")
exchange = 1112

dollor = int(price.replace("달러","")) #여백이 아닌 아무것도 없는 문자 없앰.
result = dollor * exchange

print(f"{result:,}원") # result 뒤에 :, -> 이걸 넣으면 한국통화단위로 바꿈.

환전하고 싶은 달러를 입력해주세요, ex) 100달러 10

11,120원

- 달러의 환율을 1112원으로 설정, 위안화의 환율을 171원으로 설정, 엔화의 환율을 1010원으로 설정하되, 해당 화폐당 환율의 값을 딕셔너리라는 자료구조로 정의. 사용자가 달러 혹은 엔화 혹은 위안화 값ㅇ르 입력했을 떄, 해당 값을 원하는 값을 입력했을때,
- ex) 100달러 => 111,200 // 100위안 => 17,100원

In [45]:
#각 환율을 설정하고 해당 환율 값을 딕셔너리에 각각 정리해서 리스트화를 하고 리스트가 나온 값에 각각의 값을 곱해서 환율이 나오게 하면 된다.
money=int(input("원화를 넣으세요"))


money_dict ={"달러" : 1112 , "위안" : 171 , "엔화" : 1010}
print(cash)

원화를 넣으세요 100

NameError: name 'cash' is not defined

In [48]:
#정보값을 줄때에는 딕셔너리만 가능함
#이 문제야 말로 딕셔너리가 필요 

exchange_list = {"달러" : 1112 , "위안" : 171 , "엔화" : 1010} #이 변수는 이제 딕셔너리의 단어구조
user_money = input("환전하고 싶은 금액 입력!")

#문자열은 인덱스를 가지고 있음. 인덱스 값은 고유값. 첫자리 둘째자리만 가져오면 됨.
if user_money[-2:] =="달러" : 
    print(f"{exchange_list['달러']* int(user_money[0:-2]):,}원") #f 스트링 주의할 점. 큰따옴표위치가 섞임. 문자열 안에 는 ''작은 따옴표
elif user_money[-2:] =="위안" : 
    print(f"{exchange_list['위안']* int(user_money[0:-2]):,}원")
elif user_money[-2:] =="엔화" : 
    print(f"{exchange_list['엔화']* int(user_money[0:-2]):,}원")
else :
    print("달러, 위안, 엔화 중 하나를 입력해주세요!")

환전하고 싶은 금액 입력! 500달러

556,000원

- 달러의 환율을 1112원으로 설정, 위안화의 환율을 171원으로 설정, 엔화의 환율을 1010원으로 설정하되, 해당 화폐당 환율의 값을 딕셔너리라는 자료구조로 정의. 사용자가 달러 혹은 엔화 혹은 위안화 값ㅇ르 입력했을 떄, 해당 값을 원하는 값을 입력했을때,
- ex) 100달러 => 111,200 // 100위안 => 17,100원

In [ ]:
딕셔너리 값을 먼저 설정하고 
인풋 변수를 설정한 다음에
조건문으로 해당 값을 입력했을 떄를 상정해서 
딕셔너리의 키값을 넣고
출력해서 포맷스트링에 넣고 문자열의 값으로 저장되어있는

구구단 
2*1=2
2-9까지의 숫자가 반복, 순회해야한다. -> 반복되는 동안
1~9까지의 숫자의 반복, 순회가 다시 필요! -> 이것도 반복해야한다. 
그러니까 while문 사용

In [56]:
for num01 in range(2,10) :
    print("-------------------")
    print(f"-구구단 {num01}단-")
    print("-------------------")
    for num02 in range(1,10) :#중첩for문
        print(f"{num01} X {num02} = {num01*num02}") #2단과 3단 사이의 여백 = 2단이 끝났을때, 
    print("\n") #개행으로 분리 가능

-------------------
-구구단 2단-
-------------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


-------------------
-구구단 3단-
-------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27


-------------------
-구구단 4단-
-------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36


-------------------
-구구단 5단-
-------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45


-------------------
-구구단 6단-
-------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54


-------------------
-구구단 7단-
-------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63


-------------------
-구구단 8단-
-------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72


-------------------
-구구단 9단-
-------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

- 위에서 작성한 코드를 활용해서 다음과 같은 결과를 출력해주세요. 구구단 2~9단까지 출력하되, 계산된 결과값이 짝수인 경우에만 출력해 주세요.
- 3 X 3 = 9 이기 때문에 출력되면 안됨
- 2 X 4 = 8 이기 때문에 출력

In [59]:
for num01 in range (2,10) :
    for num02 in range (1,10) :
        num3 = num01*num02
        if num3%2 ==0 :
            print(f"{num01} X {num02} = {num01*num02}")
    print("\n")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24


4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36


5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40


6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54


7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56


8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72


9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72

dongs = ["6209동","6208동","6207동"]
hos = ["101호","102호","103호","104호"]
#출력 방식 
```
6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호
```

In [60]:
dongs = ["6209동","6208동","6207동"]
hos = ["101호","102호","103호","104호"]

for dong in dongs :
    for dong in hos :
        print(f"{dongs} {hos}")

['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']
['6209동', '6208동', '6207동'] ['101호', '102호', '103호', '104호']

In [64]:
dongs = ["6209동","6208동","6207동"]
hos = ["101호","102호","103호","104호"]


for item_1 in dongs :
    for item_2 in hos :
        print(f"{item_1} {item_2}")
    print()   #print()만 해도 한줄이 나옴!

6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호

In [75]:
tupledata = ("coding01", "coding02", "coding03")
#이 요소에서 cording04추가 불가. 리스트로 바꾸고 cording04을 넣고 다시 튜플로 바꿔주면 됨.

temp_list = list(tupledata)
temp_list.append("coding04")
result = tuple(temp_list)

result
#튜플끼리는 더하는 거 가능! 튜플을 하나 더 만들어서 더하면 됨

('coding01', 'coding02', 'coding03', 'coding04')

In [91]:
tupledata = ("coding01", "coding02", "coding03")
a= list(tuple(tupledata)) + ["coding04"]
print(tuple(a))

print(tuple(list(tupledata) + ["coding04"]))

('coding01', 'coding02', 'coding03', 'coding04')
('coding01', 'coding02', 'coding03', 'coding04')

#딕셔너리 형태의 자료구조를 하나 만들어서 아래와 같이 값을 출력해 주세요. 
```
enviorment : 환경 x
company : 회사 o
government : 정부 x
face : 얼굴 x
```

In [85]:
dict01 = {"enviorment : 환경","company : 회사", "government : 정부", "face : 얼굴"}

a= list(dict01)
print(type(a))

for b in a :
    print(b)

<class 'list'>
government : 정부
enviorment : 환경
face : 얼굴
company : 회사

In [95]:
#사용자로부터 특정 사전에 등록되어있는 단어들 중 한개를 입력받으세요. 
#그러면 입력받은 단어의 경우 외움표시를 o로 수정하고, 아직 외우지 못한 단어들만 출력하는 프로그램코드를 작성해주세요.

Eng=input("단어를 입력하세요")
data = {
    "enviorment" : ["환경", "x"],
    "company" : ["회사","o"],
    "government" : ["정부","x"],
    "face" : ["얼굴", "x"],
}
if Eng== data:
    data.value[-2]("x") #-2인덱스의 값을 o로 바꿔야함 근데 딕셔너리는 인덱스 값이 없잖아..
elif  :
    print(

enviorment: 환경
company: 회사
government: 정부
face: 얼굴

In [ ]:
for item in data.keys() :
    print(f"{item}: {data[item]}")

In [108]:
# 유효성 검사!!
data = {
    "enviornment" : ["환경", "x"],
    "company" : ["회사","o"],
    "government" : ["정부","x"],
    "face" : ["얼굴", "x"],
}
english=input("다 외운 단어를 입력하세요")

if english in data.keys() :
    data[english][1]="o"
else :
    print("사전에 존재하지 않는 단어입니다.")
for item in data.keys() :
    data_list = data[item]
    if data_list[1] == "X" :
        print(item)

다 외운 단어를 입력하세요 enviornment

dict_all = {"enviornment" : "환경", "government":"정부"}
dict2 = {"company":"회사", "face":"얼굴"}
dict3 = {"apple":"사과"}

dict_all 안에 다 넣어주세요! 그리고 출력

In [116]:
dict_all = {
    "enviornment" : "환경",
    "government":"정부"}
dict2 = {"company":"회사","face":"얼굴"}
dict3 = {"apple":"사과"}

for item in dict2.keys() :
    dict_all[item] = dict2[item]

for item in dict3.keys() :
    dict_all[item] = dict3[item]

dict_all

{'enviornment': '환경',
 'government': '정부',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [120]:
#set

number_list = {1,2,3} #딕셔너리와 비슷하지만 속성값x
number_list.add(4)    #.add를 쓰면 값이 추가됨.
#number_list.add(5,6)  # 이건 오류가 남. set은 하나씩의 값만 받을 수 있음
#number_list.update(5,6)  # 이것도 오류가 남. 이터러블이 아니기 때문에! 리스트로 바꾸면됨
number_list.update([5,6])
number_list.remove(2)    # .remove() 지우기! 마찬가지로 한번에 두개는 못지움.


number_list

{1, 3, 4, 5, 6}

임의의 숫자 2개를 사용자에게 받으면 해당 2개의 숫자를 곱한 값을 반환하는 함수를 만들고, 해당 함수의 결과값을 화면에 출력해주세요

In [124]:
#함수를 만드는 방법?

def flex (a,b) :
    a = int(input("숫자 1")
    b = int(input("숫자 2")
            return(f"{a*b}")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1380025022.py, line 4)

In [132]:
#왜이렇게 생소하지?
#num1 = int(input("숫자1"))
#num2 = int(input("숫자2"))
num_all = [int(input("숫자를 입력하세요!"))for _ in range(2)] #리스트로 선언! 

def f1(피카츄,num2) :
    return 피카츄*num2
print(f1(num_all[0],num_all[1]))

숫자를 입력하세요! 50
숫자를 입력하세요! 60

3000

인자값 3개를 받을 수 있는 함수를 호출.        -> 꼭 다시 풀어봐!!!!!
func1(인자값1, 인자값2, 인자값 3)
해당함수의 3번째 인자값 = 인자값 3,+ => 첫번째 인자값과 두번째 인자값을 더한 결과값을 반환하도록 해주시고, 만약 3번째 인자값이 만약 *라면 , 첫번째 인자값과 두번째 인자값을 곱한 결과값을 반환해주세요. 그런데 3번쨰 인자값이  +도 아니고 *도 아니라면 무조건 0을 반환하는 함수를 만들어주세요.
ex)
func1(1,2,+) => 3
func1(2,4,*) => 8
func1(3,3,-) => 0

In [ ]:
def func1(num1, num2, plus) :
    if plus == "+":
        num1+num2
    elif plus == "*":
        num1*num2
    elif plus == "-"
        0

In [134]:
def calc(data1, data2, way) : #조건
    if way == "+" :
        return data1 + data2
    elif way == "*":
        return data1*data2
    else :
        return 0

data01 = calc(1,2,"+")
data02 = calc(3,2,"*")
data03 = calc(2,4,"-")
print(data01, data02, data03)

3 6 0