#### 자료구조 : set = 집합
- 왜 나왔을까? -> 서로다른 그룹 간 연산 작업을 보다 쉽게 하기위한 목적으로 탄생된 자료구조
- set()이라는 프로토타입함수를 통해 만듦  =// list() // tuple() // dict()
- 리스트는 각각에 인덱스 값을 부여했고, 그렇기에 이터러블 객체임. so, 반복문을 사용가능.
- 튜플도 각각에 인덱스 값을 부여했고, 그렇기에 이터러블 객체임. so, 반복문을 사용가능.
- 딕셔너리는 각각의 세부값에 인덱스 값 부여X, 이터러블 객체 X, 반복문 불가.
- set(세트)은 이터러블 하지만(반복문이 돌음) BUT 인덱스값이 없음..(인덱스값으로 추출 불가) = '유사배열'이라고 부름. 배열의 특징을 가짐.
- 즉, 위의 4개는 유기적으로 보완하는 관계. 쓰일 수 있는데를 우리가 판단해야함.
- set은 크롤링 시, 찾아온 값이 거의 대부분 리스트형태로 들어옴!! => 굳이 반복적으로 불필요하게 값을 찾아오는 경우가 부지기수.. 일일히 수정하지 않고, 중복된 값을 하나로 정리하는 기능!(가장 많이사용)
- 찾아온 각 데이터를 리스트로 만들고 그 데이터들을 set을 통해서 중복되는 부분을 덜어내고 남은 부분들을 따로 리스트로 만들어내는 것이 목표!

In [3]:
data_set01 = set ()  #set자료구조 객체로 만듦
print(data_set01)

set()

In [5]:
#set 도 중괄호. 속성의 형태를 띄지않고 있다! 집합의 연산이 목적 그룹간 차이 확인<->딕셔너리
data_set02 = {"apple","dell","samsung","LG"}
data_set02

{'LG', 'apple', 'dell', 'samsung'}

In [6]:
data_set03 = set("apple") #값이 하나만 들어있을때 허용해주는것
data_set03 #분절되어서 나옴. set() 의 ""안에 있는게 하나가 아니라는 것을 의미

{'a', 'e', 'l', 'p'}

In [7]:
data_set04 = set("sm","jyp") #두개의 인자 값을 줄 수 없다! {} 중괄호를 활용해야함.

TypeError: set expected at most 1 argument, got 2

In [9]:
data_set04 = {"sm","jyp"}
data_set04

{'jyp', 'sm'}

In [10]:
for data in data_set02: #이터러블한 객체라서 for 문이 가능함
    print(data)

dell
LG
samsung
apple

In [11]:
data_set02[0] #set는 인덱스 값이 없음!

TypeError: 'set' object is not subscriptable

In [14]:
#분리형 값을 추출하고 판별하는 것도 가능
print("motorola" in data_set02)
print("apple" in data_set02)

False
True

In [22]:
data04 = {"피카츄","라이츄","꼬부기"}

In [19]:
data05 ={"잠만보","파이리","피카츄"}

In [23]:
data04 & data05 #교집합

{'피카츄'}

In [24]:
data04 | data05 #합집합 -> 데이터의 '중복값'을 덜어낼 수 있음!!! 장점!!! set의 탄생 이유

{'꼬부기', '라이츄', '잠만보', '파이리', '피카츄'}

In [25]:
data04 - data05 #차집합 -> 왼쪽에 것을 기준으로 교집합 부분을 뺀것

{'꼬부기', '라이츄'}

In [26]:
data04 ^ data05 #^ -> 캐럿기호 교집합을 제외한 나머지 값들만 찾아옴

{'꼬부기', '라이츄', '잠만보', '파이리'}