In [1]:
#pandas 설치
pip install pandas

Requirement already satisfied: pandas in c:\users\pmj96\anaconda3\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\pmj96\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pmj96\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pmj96\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pmj96\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pmj96\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd #통상적으로 사용하는 별칭 pd

# Series 만들기 
seriesData = pd.Series([70,60,90])
seriesData # 자동으로 인덱스값을 붙여주로 각 컬럼 생성! 64는 기본 bit값!

0    70
1    60
2    90
dtype: int64

In [4]:
import pandas as pd

#데이터프레임 만들기
df = pd.DataFrame({ # 딕셔너리 형태로 들어와야함
    "미국" : [2.1,2.2,2.3],
    "한국" : [0.4,0.4,0.45],
    "중국" : [10,13,15]
})
df

    미국    한국  중국
0  2.1  0.40  10
1  2.2  0.40  13
2  2.3  0.45  15

In [5]:
import pandas as pd

seriesData = pd.Series([70,60,90],index = ["국어","영어","수학"]) # index 커스터마이징! 그래도 0,1,2라는 인덱스 속성을 가지고 있음
seriesData

국어    70
영어    60
수학    90
dtype: int64

In [6]:
seriesData.index # -> 객체라고 나옴!

Index(['국어', '영어', '수학'], dtype='object')

In [9]:
seriesData.index = ["미술","음악","체육"]
seriesData

미술    70
음악    60
체육    90
dtype: int64

In [10]:
seriesData.values # array = list

array([70, 60, 90])

In [13]:
print(seriesData["미술"],seriesData.iloc[0]) # "미술"의 밸류값을 가져옴!, indexlocation 이 (인덱스 위치)0인 것의 값을 가져와라!
print(seriesData["음악"],seriesData.iloc[1]) # "음악"의 밸류값을 가져옴!, indexlocation 이 (인덱스 위치)0인 것의 값을 가져와라!

70 70
60 60

In [ ]:
############## update #############

In [14]:
seriesData["미술"]=80 # "미술"의 값을 재할당

In [15]:
print(seriesData["미술"],seriesData.iloc[0])

80 80

In [ ]:
############## delete #############

In [17]:
del seriesData["미술"]

In [18]:
seriesData

음악    60
체육    90
dtype: int64

In [ ]:
########## pandas 데이터 타입 ############

In [19]:
seriesData02 = pd.Series(["Dave","David", "Alex"])
seriesData02 # -> 마찬가지로 object로 인식!

0     Dave
1    David
2     Alex
dtype: object

In [20]:
seriesData03 = pd.Series(["Dave","David", 7])
seriesData03  # -> 데이터가 혼용되었어도 object로 인식! 이때 7은 int가 맞으나 혼용되었다는 의미에서 object가 사용된 것

0     Dave
1    David
2        7
dtype: object

In [22]:
seriesData04 = pd.Series([1,1, 1])
seriesData04

0    1
1    1
2    1
dtype: int64

In [23]:
seriesData04.astype("float") 
# astype : 타입의 형태를 변경하고자할때 사용! -> 집계함수를 사용할 떄 사용 가능!(제각기 다른 형태를 통일된 형태로 변형!)

0    1.0
1    1.0
2    1.0
dtype: float64

In [24]:
seriesData05 = pd.Series([400,800,4000])
seriesData05

0     400
1     800
2    4000
dtype: int64

In [25]:
seriesData06 = pd.Series([True,False,True])
seriesData06

0     True
1    False
2     True
dtype: bool

In [26]:
seriesData07 = pd.Series(["David",1,2])
seriesData07

0    David
1        1
2        2
dtype: object

In [27]:
seriesData07.astype("float") # Error! -> 문자열은 실수로 변경 불가!

ValueError: could not convert string to float: 'David'