#### SQL : MySQL 프로그램 툴 활용, SQL문법 - > python 데이터 수집 & python에서 SQL 문법 다루거나 MySQL로 데이터 전송
NoSQL :NoSQL 문법 학습 후 python 연동방법

#### python 에서 NoSQL 문법을 다루기 위해서는 NoSQL 문법을 사용할 수 있는 MongoDB를 사용할 수 있어야함!

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.14.1-cp313-cp313-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.14.1-cp313-cp313-win_amd64.whl (956 kB)
   ---------------------------------------- 0.0/956.1 kB ? eta -:--:--
   --------------------------------------- 956.1/956.1 kB 22.8 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
Installing collected packages: dnspython, pymongo

   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   ---------------------------------------- 2/2 [pymongo]

Successfully installed dnspython-2.8.0 pymongo-4.14.1

In [3]:
from pymongo import MongoClient
## python 을 mongodb와 연결하기
client = MongoClient("mongodb://localhost:27017") # 커넥션!

#### 객체지향 프로그래밍 언어는 객체 내부에 값ㅇ르 찾아올 때, 1) 대괄호 표기법// 2) 온점표기법
#### 온점 표기법이 대중적으로 사용! => 대괄호[]의 경우 열고 닫는데 귀찮음, 실수 가능성 높음, 특정 문자열로 인식할 가능성 높음
#### db = client.sample_mflix 해당 db를 찾아오고 변수를 선언해서 넣어주는것!
#### db=client["sample_mflix"]대괄호 표기 
#### NoSQL 때로는 조건값에 일치하지 않아도 값을 출력하는 경우도 있는 등 SQL 대비 문법 유연한 부분!!

In [5]:
db=client["test"] # 해당 DB가 없으면 만듦!

#DB안에 컬렉션 만들기
collections = db.list_collection_names() # collection 리스트를 찾아오고 이 값을 collections안에 담음
for collection in collections :
    print(collections)

In [7]:
users = db.users

In [8]:
data = {"name":"John","age":30} #Bjson 의 형태로 만들어줘야함! 
result = users.insert_one(data)

In [9]:
# CLIENT를 종결하지 않으면 메모리 누수가 일어남. 실시간으로 진행시킴..

In [11]:
client.close()

In [15]:
# With 절을 통해 마지막 구문이 끝나는 순간 client.close()를 사용하지않고 구문을 종결! 메모리 사용도 종료 됨.

with MongoClient("mongodb://localhost:27017") as client:
    db = client["test"]
    users = db.users
    data = {"name":"John","age":30}
    result = users.insert_one(data)

In [ ]:
#NoSQL 데이터 삽입 -> insertOne() => isnert_one() // insertMany() = insert_many()

In [16]:
print(result)

InsertOneResult(ObjectId('68c0e375dec48f04850fa6a1'), acknowledged=True)

In [17]:
print(result.inserted_id) # 결과 값은 id를 통해서 식별가능!!

68c0e375dec48f04850fa6a1

In [24]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")

db = client["test"]
collection = db.users
data = {"name" : "John", "age" : 30}
result = collection.insert_one(data) # == result = collection.insert_one({"name" : "John", "age" : 30})
print("Inserted IDs : ",result.inserted_id)

data = [  #데이터 변수 재할당!
    {"name":"Alice","age":25},
    {"name":"Bob","age":35},
    {"name":"Charlie","age":45}
]

result = collection.insert_many(data)
print("Inserted IDs: ",result.inserted_ids)

Inserted IDs :  68c0e84cdec48f04850fa6b1
Inserted IDs:  [ObjectId('68c0e84cdec48f04850fa6b2'), ObjectId('68c0e84cdec48f04850fa6b3'), ObjectId('68c0e84cdec48f04850fa6b4')]

## python에서 Mongo DB 데이터 조회

In [ ]:
# find() -> 모든 매칭되는 값을 찾고 종료 || find_one() -> 제일처음 매칭되는 값 하나 찾고 종료

In [28]:
db = client["test"] # test DB 접속, 
collection = db.users # user컬렉션으로!

document = collection.find_one({"name": "Dave"})
print(document) # Dave는 없기 떄문에 None 값을 출력 (Error를 출력 X)

document = collection.find_one({"name": "Bob"})
print(document)

None
{'_id': ObjectId('68c0e83bdec48f04850fa6ae'), 'name': 'Bob', 'age': 35}

In [30]:
#모든 데이터를 찾아온다면 (find) -> 리스트의 형태로 가져옴
documents  = collection.find()
print(documents) # 리스트라것 객체의 형태로 가져옴 -> 보려면 for in 문으로 리스트출력!

for document in documents:
    print(document)

<pymongo.synchronous.cursor.Cursor object at 0x0000027056BB4F50>
{'_id': ObjectId('68c0ddf8dec48f04850fa69c'), 'name': 'John', 'age': 30}
{'_id': ObjectId('68c0e375dec48f04850fa6a1'), 'name': 'John', 'age': 30}
{'_id': ObjectId('68c0e83bdec48f04850fa6ac'), 'name': 'John', 'age': 30}
{'_id': ObjectId('68c0e83bdec48f04850fa6ad'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('68c0e83bdec48f04850fa6ae'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('68c0e83bdec48f04850fa6af'), 'name': 'Charlie', 'age': 45}
{'_id': ObjectId('68c0e84cdec48f04850fa6b1'), 'name': 'John', 'age': 30}
{'_id': ObjectId('68c0e84cdec48f04850fa6b2'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('68c0e84cdec48f04850fa6b3'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('68c0e84cdec48f04850fa6b4'), 'name': 'Charlie', 'age': 45}

### 데이터 문서 수정(update_one(), update_many()) 하는 방법

In [35]:
collection = db.users # users 컬렉션을 찾아옴
#collection.update_one()안에 첫번쨰요소 : 조건(필터), 두번쨰 요소 : 변경할 값(=update)
filter = {"name":"John"}
update = {"$set":{"age": 31}}
result = collection.update_one(filter,update)
print("Modified Count:",result.modified_count)

Modified Count: 1

In [36]:
data = {"name" : "Json", "age" : 40}
result = collection.insert_one(data)

In [37]:
filter = {"age":{"$gt":41}}
update = {"$set": {"is_available": True}} # 필드생성 , True값이들어옴
result = collection.update_many(filter,update)

print("Modified Count:",result.modified_count)

Modified Count: 2

### 데이터 문서 삭제(delete_one(), delete_many()) 하는 방법

In [41]:
collection = db.users
filter = {"name": "John"}
result = collection.delete_one(filter) # 인자값으로 조건값만 넣어주면 삭제!
print("Deleted Count:",result.deleted_count)

Deleted Count: 1

In [44]:
collection = db.users
filter = {"age":{"$lt":10}} # 존재하지 않는 값을 넣으면
result = collection.delete_many(filter)
print("Deleted Count:",result.deleted_count) # 0을 print

Deleted Count: 0

In [45]:
client.close()

# sample_mflix예제

In [62]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")

#db 선언으로 내가 원하는 db 정의해주기!
db = client.sample_mflix
movies= db.movies

print(movies)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'sample_mflix'), 'movies')

In [63]:
#JS파일 포맷에서는 객체안에 있는 값을 찾아올때, 대괄호 & 온점 표기법 가능
#파이썬 포맷에서는 객체형태를 띄고있는 자료구조 딕셔너리 => 대괄호 표기법으로 특정 키 내부의 값을 찾아온다. -> print(movie,movie["year"])

for movie in movies.find({"year":1923},{"_id":0,"title": 1,"year":1}): #find매서드 함수를 활용해서 값을 찾아와야함!
    print(movie,movie["year"])

{'title': 'The Hunchback of Notre Dame', 'year': 1923} 1923
{'title': 'Our Hospitality', 'year': 1923} 1923
{'title': 'Safety Last!', 'year': 1923} 1923
{'title': 'Three Ages', 'year': 1923} 1923
{'title': 'A Woman of Paris: A Drama of Fate', 'year': 1923} 1923
{'title': 'The Chechahcos', 'year': 1923} 1923

In [64]:
# Mongo DB 안에 있는 특정 DB의 컬렉션 값을 어떤 조건과 함께 찾아오게 되면 기본적으로 리스트 형태를 띄고있음
# 해당 리스트 자료구조 안에있는 각각의 문서는 딕셔너리의 자료구조로 되어있다

for movie in movies.find(
    {"$or":[{"year":{"$lt": 1900}},{"year":{"$gt":2015}}]}, # 필수값, 조건 $or 만약 하나라도 값을 충족하면 가져와라!
    {"_id":0,"title":1,"year":1}  # 비필수값, 출력하고자하는 형태
) :
    print(movie) #딕셔너리의 값으로 가져옴

{'title': 'Blacksmith Scene', 'year': 1893}
{'title': 'The Kiss', 'year': 1896}
{'title': 'Dickson Experimental Sound Film', 'year': 1894}
{'title': 'The Kiss', 'year': 1896}
{'title': 'Newark Athlete', 'year': 1891}
{'title': 'The Masked Saint', 'year': 2016}

In [65]:
for movie in movies.find(
    {"genres":{"$all": ["Actions","Sci-Fi","Drama"]}},{ } # "$all" e뒤에있는 값이 모두 충족되는 것을 찾아와라
):
    print(movie)