In [26]:
import requests
from bs4 import BeautifulSoup

url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
base_url = "https://books.toscrape.com/catalogue/"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"
}

response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

books = soup.select("article.product_pod")
category = "Travel"

for i, book in enumerate(books, 1):
    title = book.h3.a["title"]
    price = book.select_one("p.price_color").text.strip()
    stock = book.select_one("p.instock.availability").text.strip()

    rating_tag = book.select_one("p.star-rating")
    rating = rating_tag["class"][1] if rating_tag else "No rating"

    relative_url = book.h3.a["href"]
    product_url = base_url + relative_url.replace("../../../", "")

    print(f"\n {i}.\n제목: {title}")
    print(f"가격: {price}")
    print(f"재고: {stock}")
    print(f"평점: {rating}")
    print(f"카테고리: {category}")
    print(f"URL: {product_url}")

 1.
제목: It's Only the Himalayas
가격: Â£45.17
재고: In stock
평점: Two
카테고리: Travel
URL: https://books.toscrape.com/catalogue/its-only-the-himalayas_981/index.html

 2.
제목: Full Moon over Noahâs Ark: An Odyssey to Mount Ararat and Beyond
가격: Â£49.43
재고: In stock
평점: Four
카테고리: Travel
URL: https://books.toscrape.com/catalogue/full-moon-over-noahs-ark-an-odyssey-to-mount-ararat-and-beyond_811/index.html

 3.
제목: See America: A Celebration of Our National Parks & Treasured Sites
가격: Â£48.87
재고: In stock
평점: Three
카테고리: Travel
URL: https://books.toscrape.com/catalogue/see-america-a-celebration-of-our-national-parks-treasured-sites_732/index.html

 4.
제목: Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel
가격: Â£36.94
재고: In stock
평점: Two
카테고리: Travel
URL: https://books.toscrape.com/catalogue/vagabonding-an-uncommon-guide-to-the-art-of-long-term-world-travel_552/index.html

 5.
제목: Under the Tuscan Sun
가격: Â£37.33
재고: In stock
평점: Three
카테고리: Travel
URL: https://books.toscrape.com/catalogue/under-the-tuscan-sun_504/index.html

 6.
제목: A Summer In Europe
가격: Â£44.34
재고: In stock
평점: Two
카테고리: Travel
URL: https://books.toscrape.com/catalogue/a-summer-in-europe_458/index.html

 7.
제목: The Great Railway Bazaar
가격: Â£30.54
재고: In stock
평점: One
카테고리: Travel
URL: https://books.toscrape.com/catalogue/the-great-railway-bazaar_446/index.html

 8.
제목: A Year in Provence (Provence #1)
가격: Â£56.88
재고: In stock
평점: Four
카테고리: Travel
URL: https://books.toscrape.com/catalogue/a-year-in-provence-provence-1_421/index.html

 9.
제목: The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)
가격: Â£23.21
재고: In stock
평점: One
카테고리: Travel
URL: https://books.toscrape.com/catalogue/the-road-to-little-dribbling-adventures-of-an-american-in-britain-notes-from-a-small-island-2_277/index.html

 10.
제목: Neither Here nor There: Travels in Europe
가격: Â£38.95
재고: In stock
평점: Three
카테고리: Travel
URL: https://books.toscrape.com/catalogue/neither-here-nor-there-travels-in-europe_198/index.html

 11.
제목: 1,000 Places to See Before You Die
가격: Â£26.08
재고: In stock
평점: Five
카테고리: Travel
URL: https://books.toscrape.com/catalogue/1000-places-to-see-before-you-die_1/index.html

In [35]:
import requests
from bs4 import BeautifulSoup
import pymysql

# mysql에 접속하기 위한 메서드 함수
db = pymysql.connect( #접속하고자 하는 대상을 인자값으로 넣어주면 됨!
    host = "localhost", #사이트가 돌아가는 주소
    port = 3306, # 실질적으로 도착하는 도착지
    user = "root", #사용자
    passwd = "asdf1122",
    db = "ecommerce", #만들어진
    charset = "utf8"# mysql에 전송할 때, 한줄씩 필드 정의할 때 특수문자들을 인코딩 - 디코딩할 때 의도대로 인식할 수 있도록 하는 것  
)

cursor = db.cursor()

cursor.execute("USE playground;")
cursor.execute("""
    CREATE TABLE IF NOT EXISTS books(
        id INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
        title VARCHAR(200) NOT NULL,
        price VARCHAR(20),
        stock VARCHAR(20),
        rating VARCHAR(20),
        category VARCHAR(50),
        product_url VARCHAR(255)
    );
""")

book_list = []

for tag in books:   # books는 BeautifulSoup으로 긁어온 Tag 리스트라고 가정
    title = tag.select_one(".title")
    price = tag.select_one(".price")
    stock = tag.select_one(".stock")
    rating = tag.select_one(".rating")
    category = tag.select_one(".category")
    link = tag.select_one("a")

    book_list.append({
        "title": title.get_text(strip=True) if title else None,
        "price": price.get_text(strip=True) if price else None,
        "stock": stock.get_text(strip=True) if stock else None,
        "rating": rating.get_text(strip=True) if rating else None,
        "category": category.get_text(strip=True) if category else None,
        "product_url": link["href"] if link and link.has_attr("href") else None
    })

sql = """
INSERT INTO books (title, price, stock, rating, category, product_url) 
VALUES (%s, %s, %s, %s, %s, %s)
"""
for book in book_list:
    cursor.execute(sql, (
        book["title"],
        book["price"],
        book["stock"],
        book["rating"],
        book["category"],
        book["product_url"]
    ))

db.commit()
print("저장 완료")

db.commit()
print("저장 완료")
cursor.close()
db.close()

 1.
제목: It's Only the Himalayas
가격: Â£45.17
재고: In stock
평점: Two
카테고리: Travel
URL: https://books.toscrape.com/catalogue/its-only-the-himalayas_981/index.html

 2.
제목: Full Moon over Noahâs Ark: An Odyssey to Mount Ararat and Beyond
가격: Â£49.43
재고: In stock
평점: Four
카테고리: Travel
URL: https://books.toscrape.com/catalogue/full-moon-over-noahs-ark-an-odyssey-to-mount-ararat-and-beyond_811/index.html

 3.
제목: See America: A Celebration of Our National Parks & Treasured Sites
가격: Â£48.87
재고: In stock
평점: Three
카테고리: Travel
URL: https://books.toscrape.com/catalogue/see-america-a-celebration-of-our-national-parks-treasured-sites_732/index.html

 4.
제목: Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel
가격: Â£36.94
재고: In stock
평점: Two
카테고리: Travel
URL: https://books.toscrape.com/catalogue/vagabonding-an-uncommon-guide-to-the-art-of-long-term-world-travel_552/index.html

 5.
제목: Under the Tuscan Sun
가격: Â£37.33
재고: In stock
평점: Three
카테고리: Travel
URL: https://books.toscrape.com/catalogue/under-the-tuscan-sun_504/index.html

 6.
제목: A Summer In Europe
가격: Â£44.34
재고: In stock
평점: Two
카테고리: Travel
URL: https://books.toscrape.com/catalogue/a-summer-in-europe_458/index.html

 7.
제목: The Great Railway Bazaar
가격: Â£30.54
재고: In stock
평점: One
카테고리: Travel
URL: https://books.toscrape.com/catalogue/the-great-railway-bazaar_446/index.html

 8.
제목: A Year in Provence (Provence #1)
가격: Â£56.88
재고: In stock
평점: Four
카테고리: Travel
URL: https://books.toscrape.com/catalogue/a-year-in-provence-provence-1_421/index.html

 9.
제목: The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)
가격: Â£23.21
재고: In stock
평점: One
카테고리: Travel
URL: https://books.toscrape.com/catalogue/the-road-to-little-dribbling-adventures-of-an-american-in-britain-notes-from-a-small-island-2_277/index.html

 10.
제목: Neither Here nor There: Travels in Europe
가격: Â£38.95
재고: In stock
평점: Three
카테고리: Travel
URL: https://books.toscrape.com/catalogue/neither-here-nor-there-travels-in-europe_198/index.html

 11.
제목: 1,000 Places to See Before You Die
가격: Â£26.08
재고: In stock
평점: Five
카테고리: Travel
URL: https://books.toscrape.com/catalogue/1000-places-to-see-before-you-die_1/index.html

IntegrityError: (1048, "Column 'title' cannot be null")

In [36]:
import requests
from bs4 import BeautifulSoup
import pymysql

url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
base_url = "https://books.toscrape.com/catalogue/"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

books = soup.select("article.product_pod")
category = "Travel"

db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    passwd="asdf1122",
    db="ecommerce",
    charset="utf8"
)
cursor = db.cursor()

cursor.execute("USE playground;")
cursor.execute("""
    CREATE TABLE IF NOT EXISTS books(
        id INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
        title VARCHAR(200) NOT NULL,
        price VARCHAR(20),
        stock VARCHAR(50),
        rating VARCHAR(20),
        category VARCHAR(50),
        product_url VARCHAR(255)
    );
""")

book_list = []
for tag in books:
    title = tag.h3.a["title"]
    price = tag.select_one("p.price_color").text.strip()
    stock = tag.select_one("p.instock.availability").text.strip()
    rating_tag = tag.select_one("p.star-rating")
    rating = rating_tag["class"][1] if rating_tag else None
    relative_url = tag.h3.a["href"]
    product_url = base_url + relative_url.replace("../../../", "")

    book_list.append({
        "title": title,
        "price": price,
        "stock": stock,
        "rating": rating,
        "category": category,
        "product_url": product_url
    })

sql = """
INSERT INTO books (title, price, stock, rating, category, product_url) 
VALUES (%s, %s, %s, %s, %s, %s)
"""
for book in book_list:
    cursor.execute(sql, (
        book["title"],
        book["price"],
        book["stock"],
        book["rating"],
        book["category"],
        book["product_url"]
    ))

db.commit()
print("저장 완료")

cursor.close()
db.close()

OperationalError: (1364, "Field 'id' doesn't have a default value")

In [22]:
sql ="""
    CREATE TABLE product(
         VARCHAR(20) NOT NULL PRIMARY KEY,
        TITLE VARCHAR(200) NOT NULL,
        PRICE INT,
        STOCK VARCHAR(20),
        RATING VARCHAR(20),
        CATEGORY VARCHAR(50)
        URL VARCHAR(255)
    );
"""

In [9]:
db.commit()

In [25]:
import requests
from bs4 import BeautifulSoup
import re  # 숫자 추출을 위한 정규표현식

url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
base_url = "https://books.toscrape.com/catalogue/"
headers = {"User-Agent": "Mozilla/5.0"}

response = requests.get(url, headers=headers)
response.encoding = 'utf-8'  # 인코딩 명시

soup = BeautifulSoup(response.text, "html.parser")
books = soup.select("article.product_pod")
category = "Travel"

for book in books:
    title = book.h3.a["title"]
    
    price_text = book.select_one("p.price_color").text.strip()
    price_number = re.findall(r"\d+\.\d+", price_text)  # 숫자만 추출
    price = float(price_number[0]) if price_number else 0.0

    stock = book.select_one("p.instock.availability").text.strip()
    rating_tag = book.select_one("p.star-rating")
    rating = rating_tag["class"][1] if rating_tag else "No rating"
    relative_url = book.h3.a["href"]
    product_url = base_url + relative_url.replace("../../../", "")
    
    cursor.execute("""
        INSERT INTO product (CODE, TITLE, PRICE, STOCK, RATING, CATEGORY, URL)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, (title, price, stock, rating, category, product_url))

db.commit()
db.close()

TypeError: not enough arguments for format string

In [ ]:
import requests
from bs4 import BeautifulSoup
import pymysql
import re

# 1. DB 연결
db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    passwd="asdf1122",
    charset="utf8"
)
cursor = db.cursor()

# 2. DB 선택 및 테이블 생성
cursor.execute("CREATE DATABASE IF NOT EXISTS ecommerce CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
cursor.execute("USE ecommerce;")

cursor.execute("DROP TABLE IF EXISTS product;")
cursor.execute("""
    CREATE TABLE product (
        code VARCHAR(225) NOT NULL PRIMARY KEY,
        title VARCHAR(200) NOT NULL,
        price INT,
        stock VARCHAR(50),
        rating VARCHAR(50),
        category VARCHAR(50),
        url VARCHAR(255)
    );
""")
db.commit()

# 3. 웹 크롤링
url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
base_url = "https://books.toscrape.com/catalogue/"
headers = {"User-Agent": "Mozilla/5.0"}

response = requests.get(url, headers=headers)
response.encoding = "utf-8"
soup = BeautifulSoup(response.text, "html.parser")

books = soup.select("article.product_pod")
category = "Travel"

for book in books:
    title = book.h3.a["title"]

    price_text = book.select_one("p.price_color").text.strip()
    price_number = re.findall(r"\d+\.\d+", price_text)
    price = int(float(price_number[0])) if price_number else 0

    stock = book.select_one("p.instock.availability").text.strip()
    rating_tag = book.select_one("p.star-rating")
    rating = rating_tag["class"][1] if rating_tag else "No rating"
    relative_url = book.h3.a["href"]
    product_url = base_url + relative_url.replace("../../../", "")

    # 🔑 고유 코드 (_id 역할)
    code = product_url.split("/")[-2]

    # 7개 값 삽입
    cursor.execute("""
        INSERT INTO product (code, title, price, stock, rating, category, url)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, (
        code, title, price, stock, rating, category, product_url
    ))

db.commit()
db.close()

In [ ]:
# mysql에 데이터 보내기

import pymysql

db = pymysql.connect(
    host="localhost",
    user="root",
    password="forena1303!!",
    db = "books_db",
    charset="utf8"
)


cursor = db.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS books_db;")
cursor.execute("USE books_db;")

cursor.execute("""
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(300),
    price VARCHAR(50),
    stock INT,
    rating INT,
    category VARCHAR(100),
    product_url TEXT
)
""")


sql = "INSERT INTO books (title, price, stock, rating, category, product_url) VALUES (%s, %s, %s, %s, %s, %s)"
for b in books:
    cursor.execute(sql, (b["title"], b["price"], b["stock"], b["rating"], b["category"], b["product_url"]))

db.commit()
print("✅ MySQL에 데이터 저장 완료")

cursor.close()
db.close()