In [26]:
import requests
from bs4 import BeautifulSoup

url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
base_url = "https://books.toscrape.com/catalogue/"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"
}

response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

books = soup.select("article.product_pod")
category = "Travel"

for i, book in enumerate(books, 1):
    title = book.h3.a["title"]
    price = book.select_one("p.price_color").text.strip()
    stock = book.select_one("p.instock.availability").text.strip()

    rating_tag = book.select_one("p.star-rating")
    rating = rating_tag["class"][1] if rating_tag else "No rating"

    relative_url = book.h3.a["href"]
    product_url = base_url + relative_url.replace("../../../", "")

    print(f"\n {i}.\nÏ†úÎ™©: {title}")
    print(f"Í∞ÄÍ≤©: {price}")
    print(f"Ïû¨Í≥†: {stock}")
    print(f"ÌèâÏ†ê: {rating}")
    print(f"Ïπ¥ÌÖåÍ≥†Î¶¨: {category}")
    print(f"URL: {product_url}")

 1.
Ï†úÎ™©: It's Only the Himalayas
Í∞ÄÍ≤©: √Ç¬£45.17
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Two
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/its-only-the-himalayas_981/index.html

 2.
Ï†úÎ™©: Full Moon over Noah√¢¬Ä¬ôs Ark: An Odyssey to Mount Ararat and Beyond
Í∞ÄÍ≤©: √Ç¬£49.43
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Four
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/full-moon-over-noahs-ark-an-odyssey-to-mount-ararat-and-beyond_811/index.html

 3.
Ï†úÎ™©: See America: A Celebration of Our National Parks & Treasured Sites
Í∞ÄÍ≤©: √Ç¬£48.87
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Three
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/see-america-a-celebration-of-our-national-parks-treasured-sites_732/index.html

 4.
Ï†úÎ™©: Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel
Í∞ÄÍ≤©: √Ç¬£36.94
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Two
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/vagabonding-an-uncommon-guide-to-the-art-of-long-term-world-travel_552/index.html

 5.
Ï†úÎ™©: Under the Tuscan Sun
Í∞ÄÍ≤©: √Ç¬£37.33
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Three
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/under-the-tuscan-sun_504/index.html

 6.
Ï†úÎ™©: A Summer In Europe
Í∞ÄÍ≤©: √Ç¬£44.34
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Two
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/a-summer-in-europe_458/index.html

 7.
Ï†úÎ™©: The Great Railway Bazaar
Í∞ÄÍ≤©: √Ç¬£30.54
Ïû¨Í≥†: In stock
ÌèâÏ†ê: One
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/the-great-railway-bazaar_446/index.html

 8.
Ï†úÎ™©: A Year in Provence (Provence #1)
Í∞ÄÍ≤©: √Ç¬£56.88
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Four
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/a-year-in-provence-provence-1_421/index.html

 9.
Ï†úÎ™©: The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)
Í∞ÄÍ≤©: √Ç¬£23.21
Ïû¨Í≥†: In stock
ÌèâÏ†ê: One
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/the-road-to-little-dribbling-adventures-of-an-american-in-britain-notes-from-a-small-island-2_277/index.html

 10.
Ï†úÎ™©: Neither Here nor There: Travels in Europe
Í∞ÄÍ≤©: √Ç¬£38.95
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Three
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/neither-here-nor-there-travels-in-europe_198/index.html

 11.
Ï†úÎ™©: 1,000 Places to See Before You Die
Í∞ÄÍ≤©: √Ç¬£26.08
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Five
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/1000-places-to-see-before-you-die_1/index.html

In [35]:
import requests
from bs4 import BeautifulSoup
import pymysql

# mysqlÏóê Ï†ëÏÜçÌïòÍ∏∞ ÏúÑÌïú Î©îÏÑúÎìú Ìï®Ïàò
db = pymysql.connect( #Ï†ëÏÜçÌïòÍ≥†Ïûê ÌïòÎäî ÎåÄÏÉÅÏùÑ Ïù∏ÏûêÍ∞íÏúºÎ°ú ÎÑ£Ïñ¥Ï£ºÎ©¥ Îê®!
    host = "localhost", #ÏÇ¨Ïù¥Ìä∏Í∞Ä ÎèåÏïÑÍ∞ÄÎäî Ï£ºÏÜå
    port = 3306, # Ïã§ÏßàÏ†ÅÏúºÎ°ú ÎèÑÏ∞©ÌïòÎäî ÎèÑÏ∞©ÏßÄ
    user = "root", #ÏÇ¨Ïö©Ïûê
    passwd = "asdf1122",
    db = "ecommerce", #ÎßåÎì§Ïñ¥ÏßÑ
    charset = "utf8"# mysqlÏóê Ï†ÑÏÜ°Ìï† Îïå, ÌïúÏ§ÑÏî© ÌïÑÎìú Ï†ïÏùòÌï† Îïå ÌäπÏàòÎ¨∏ÏûêÎì§ÏùÑ Ïù∏ÏΩîÎî© - ÎîîÏΩîÎî©Ìï† Îïå ÏùòÎèÑÎåÄÎ°ú Ïù∏ÏãùÌï† Ïàò ÏûàÎèÑÎ°ù ÌïòÎäî Í≤É  
)

cursor = db.cursor()

cursor.execute("USE playground;")
cursor.execute("""
    CREATE TABLE IF NOT EXISTS books(
        id INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
        title VARCHAR(200) NOT NULL,
        price VARCHAR(20),
        stock VARCHAR(20),
        rating VARCHAR(20),
        category VARCHAR(50),
        product_url VARCHAR(255)
    );
""")

book_list = []

for tag in books:   # booksÎäî BeautifulSoupÏúºÎ°ú Í∏ÅÏñ¥Ïò® Tag Î¶¨Ïä§Ìä∏ÎùºÍ≥† Í∞ÄÏ†ï
    title = tag.select_one(".title")
    price = tag.select_one(".price")
    stock = tag.select_one(".stock")
    rating = tag.select_one(".rating")
    category = tag.select_one(".category")
    link = tag.select_one("a")

    book_list.append({
        "title": title.get_text(strip=True) if title else None,
        "price": price.get_text(strip=True) if price else None,
        "stock": stock.get_text(strip=True) if stock else None,
        "rating": rating.get_text(strip=True) if rating else None,
        "category": category.get_text(strip=True) if category else None,
        "product_url": link["href"] if link and link.has_attr("href") else None
    })

sql = """
INSERT INTO books (title, price, stock, rating, category, product_url) 
VALUES (%s, %s, %s, %s, %s, %s)
"""
for book in book_list:
    cursor.execute(sql, (
        book["title"],
        book["price"],
        book["stock"],
        book["rating"],
        book["category"],
        book["product_url"]
    ))

db.commit()
print("Ï†ÄÏû• ÏôÑÎ£å")

db.commit()
print("Ï†ÄÏû• ÏôÑÎ£å")
cursor.close()
db.close()

 1.
Ï†úÎ™©: It's Only the Himalayas
Í∞ÄÍ≤©: √Ç¬£45.17
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Two
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/its-only-the-himalayas_981/index.html

 2.
Ï†úÎ™©: Full Moon over Noah√¢¬Ä¬ôs Ark: An Odyssey to Mount Ararat and Beyond
Í∞ÄÍ≤©: √Ç¬£49.43
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Four
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/full-moon-over-noahs-ark-an-odyssey-to-mount-ararat-and-beyond_811/index.html

 3.
Ï†úÎ™©: See America: A Celebration of Our National Parks & Treasured Sites
Í∞ÄÍ≤©: √Ç¬£48.87
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Three
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/see-america-a-celebration-of-our-national-parks-treasured-sites_732/index.html

 4.
Ï†úÎ™©: Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel
Í∞ÄÍ≤©: √Ç¬£36.94
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Two
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/vagabonding-an-uncommon-guide-to-the-art-of-long-term-world-travel_552/index.html

 5.
Ï†úÎ™©: Under the Tuscan Sun
Í∞ÄÍ≤©: √Ç¬£37.33
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Three
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/under-the-tuscan-sun_504/index.html

 6.
Ï†úÎ™©: A Summer In Europe
Í∞ÄÍ≤©: √Ç¬£44.34
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Two
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/a-summer-in-europe_458/index.html

 7.
Ï†úÎ™©: The Great Railway Bazaar
Í∞ÄÍ≤©: √Ç¬£30.54
Ïû¨Í≥†: In stock
ÌèâÏ†ê: One
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/the-great-railway-bazaar_446/index.html

 8.
Ï†úÎ™©: A Year in Provence (Provence #1)
Í∞ÄÍ≤©: √Ç¬£56.88
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Four
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/a-year-in-provence-provence-1_421/index.html

 9.
Ï†úÎ™©: The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)
Í∞ÄÍ≤©: √Ç¬£23.21
Ïû¨Í≥†: In stock
ÌèâÏ†ê: One
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/the-road-to-little-dribbling-adventures-of-an-american-in-britain-notes-from-a-small-island-2_277/index.html

 10.
Ï†úÎ™©: Neither Here nor There: Travels in Europe
Í∞ÄÍ≤©: √Ç¬£38.95
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Three
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/neither-here-nor-there-travels-in-europe_198/index.html

 11.
Ï†úÎ™©: 1,000 Places to See Before You Die
Í∞ÄÍ≤©: √Ç¬£26.08
Ïû¨Í≥†: In stock
ÌèâÏ†ê: Five
Ïπ¥ÌÖåÍ≥†Î¶¨: Travel
URL: https://books.toscrape.com/catalogue/1000-places-to-see-before-you-die_1/index.html

IntegrityError: (1048, "Column 'title' cannot be null")

In [36]:
import requests
from bs4 import BeautifulSoup
import pymysql

url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
base_url = "https://books.toscrape.com/catalogue/"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

books = soup.select("article.product_pod")
category = "Travel"

db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    passwd="asdf1122",
    db="ecommerce",
    charset="utf8"
)
cursor = db.cursor()

cursor.execute("USE playground;")
cursor.execute("""
    CREATE TABLE IF NOT EXISTS books(
        id INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
        title VARCHAR(200) NOT NULL,
        price VARCHAR(20),
        stock VARCHAR(50),
        rating VARCHAR(20),
        category VARCHAR(50),
        product_url VARCHAR(255)
    );
""")

book_list = []
for tag in books:
    title = tag.h3.a["title"]
    price = tag.select_one("p.price_color").text.strip()
    stock = tag.select_one("p.instock.availability").text.strip()
    rating_tag = tag.select_one("p.star-rating")
    rating = rating_tag["class"][1] if rating_tag else None
    relative_url = tag.h3.a["href"]
    product_url = base_url + relative_url.replace("../../../", "")

    book_list.append({
        "title": title,
        "price": price,
        "stock": stock,
        "rating": rating,
        "category": category,
        "product_url": product_url
    })

sql = """
INSERT INTO books (title, price, stock, rating, category, product_url) 
VALUES (%s, %s, %s, %s, %s, %s)
"""
for book in book_list:
    cursor.execute(sql, (
        book["title"],
        book["price"],
        book["stock"],
        book["rating"],
        book["category"],
        book["product_url"]
    ))

db.commit()
print("Ï†ÄÏû• ÏôÑÎ£å")

cursor.close()
db.close()

OperationalError: (1364, "Field 'id' doesn't have a default value")

In [22]:
sql ="""
    CREATE TABLE product(
         VARCHAR(20) NOT NULL PRIMARY KEY,
        TITLE VARCHAR(200) NOT NULL,
        PRICE INT,
        STOCK VARCHAR(20),
        RATING VARCHAR(20),
        CATEGORY VARCHAR(50)
        URL VARCHAR(255)
    );
"""

In [9]:
db.commit()

In [25]:
import requests
from bs4 import BeautifulSoup
import re  # Ïà´Ïûê Ï∂îÏ∂úÏùÑ ÏúÑÌïú Ï†ïÍ∑úÌëúÌòÑÏãù

url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
base_url = "https://books.toscrape.com/catalogue/"
headers = {"User-Agent": "Mozilla/5.0"}

response = requests.get(url, headers=headers)
response.encoding = 'utf-8'  # Ïù∏ÏΩîÎî© Î™ÖÏãú

soup = BeautifulSoup(response.text, "html.parser")
books = soup.select("article.product_pod")
category = "Travel"

for book in books:
    title = book.h3.a["title"]
    
    price_text = book.select_one("p.price_color").text.strip()
    price_number = re.findall(r"\d+\.\d+", price_text)  # Ïà´ÏûêÎßå Ï∂îÏ∂ú
    price = float(price_number[0]) if price_number else 0.0

    stock = book.select_one("p.instock.availability").text.strip()
    rating_tag = book.select_one("p.star-rating")
    rating = rating_tag["class"][1] if rating_tag else "No rating"
    relative_url = book.h3.a["href"]
    product_url = base_url + relative_url.replace("../../../", "")
    
    cursor.execute("""
        INSERT INTO product (CODE, TITLE, PRICE, STOCK, RATING, CATEGORY, URL)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, (title, price, stock, rating, category, product_url))

db.commit()
db.close()

TypeError: not enough arguments for format string

In [ ]:
import requests
from bs4 import BeautifulSoup
import pymysql
import re

# 1. DB Ïó∞Í≤∞
db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    passwd="asdf1122",
    charset="utf8"
)
cursor = db.cursor()

# 2. DB ÏÑ†ÌÉù Î∞è ÌÖåÏù¥Î∏î ÏÉùÏÑ±
cursor.execute("CREATE DATABASE IF NOT EXISTS ecommerce CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
cursor.execute("USE ecommerce;")

cursor.execute("DROP TABLE IF EXISTS product;")
cursor.execute("""
    CREATE TABLE product (
        code VARCHAR(225) NOT NULL PRIMARY KEY,
        title VARCHAR(200) NOT NULL,
        price INT,
        stock VARCHAR(50),
        rating VARCHAR(50),
        category VARCHAR(50),
        url VARCHAR(255)
    );
""")
db.commit()

# 3. Ïõπ ÌÅ¨Î°§ÎßÅ
url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
base_url = "https://books.toscrape.com/catalogue/"
headers = {"User-Agent": "Mozilla/5.0"}

response = requests.get(url, headers=headers)
response.encoding = "utf-8"
soup = BeautifulSoup(response.text, "html.parser")

books = soup.select("article.product_pod")
category = "Travel"

for book in books:
    title = book.h3.a["title"]

    price_text = book.select_one("p.price_color").text.strip()
    price_number = re.findall(r"\d+\.\d+", price_text)
    price = int(float(price_number[0])) if price_number else 0

    stock = book.select_one("p.instock.availability").text.strip()
    rating_tag = book.select_one("p.star-rating")
    rating = rating_tag["class"][1] if rating_tag else "No rating"
    relative_url = book.h3.a["href"]
    product_url = base_url + relative_url.replace("../../../", "")

    # üîë Í≥†Ïú† ÏΩîÎìú (_id Ïó≠Ìï†)
    code = product_url.split("/")[-2]

    # 7Í∞ú Í∞í ÏÇΩÏûÖ
    cursor.execute("""
        INSERT INTO product (code, title, price, stock, rating, category, url)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, (
        code, title, price, stock, rating, category, product_url
    ))

db.commit()
db.close()

In [ ]:
# mysqlÏóê Îç∞Ïù¥ÌÑ∞ Î≥¥ÎÇ¥Í∏∞

import pymysql

db = pymysql.connect(
    host="localhost",
    user="root",
    password="forena1303!!",
    db = "books_db",
    charset="utf8"
)


cursor = db.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS books_db;")
cursor.execute("USE books_db;")

cursor.execute("""
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(300),
    price VARCHAR(50),
    stock INT,
    rating INT,
    category VARCHAR(100),
    product_url TEXT
)
""")


sql = "INSERT INTO books (title, price, stock, rating, category, product_url) VALUES (%s, %s, %s, %s, %s, %s)"
for b in books:
    cursor.execute(sql, (b["title"], b["price"], b["stock"], b["rating"], b["category"], b["product_url"]))

db.commit()
print("‚úÖ MySQLÏóê Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû• ÏôÑÎ£å")

cursor.close()
db.close()