In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\pmj96\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql

# mysql에 접속하기 위한 메서드 함수
db = pymysql.connect( #접속하고자 하는 대상을 인자값으로 넣어주면 됨!
    host = "localhost", #사이트가 돌아가는 주소
    port = 3306, # 실질적으로 도착하는 도착지
    user = "root", #사용자
    passwd = "asdf1122",
    db = "ecommerce", #만들어진
    charset = "utf8"# mysql에 전송할 때, 한줄씩 필드 정의할 때 특수문자들을 인코딩 - 디코딩할 때 의도대로 인식할 수 있도록 하는 것  
)

In [70]:
ecommerce = db.cursor()
# db에 접근하게 할 수 있는 역할!
# 실행할 수 있도록 db라는 객체가 연결 시킬 수 있는 정보를 가지고 있음 = cousor로서의 역할!
# ecommerce : 결과값을 반환 받는요소

In [38]:
sql ="""
    CREATE TABLE product(
        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(10)
    );
"""

In [40]:
sql

'\n    CREATE TABLE product(\n        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,\n        TITLE VARCHAR(200) NOT NULL,\n        ORI_PRICE INT,\n        DISCOUNT_PRICE INT,\n        DISCOUNT_PERCENT INT,\n        DELIVERY VARCHAR(10)\n    );\n'

In [71]:
ecommerce.execute(sql) # 실행할 수 있는 요소를 상속 받음

OperationalError: (1205, 'Lock wait timeout exceeded; try restarting transaction')

In [72]:
db.commit()

In [73]:
db.close()

In [2]:
cursor = db.cursor() # 조작할 수 있게 해주는 역할

In [3]:
for index in range(10) :
    product_code = 215673140 + index + 1 # 프로덕트 코드가 반복순회할때마다 새로운 값을 만듦
    sql = f"""
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );
    """
    print(sql)
    cursor.execute(sql)

        INSERT INTO product VALUES(
            '215673141',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673142',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673143',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673144',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673145',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673146',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673147',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673148',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673149',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673150',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );

In [4]:
db.commit()

In [5]:
db.close()