In [60]:
##### 패턴코드 ########

import pymysql

# connect : pymysql에 접속할 수 있게 해주는 것!
db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = "asdf1122",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [3]:
db # 출력값이 <pymysql.connections.Connection at 0x1ba21e68550> : 정상적으로 연결되었다!

In [61]:
# db에 cursor로 결과값을 받아오면 메서드함수를 만들어서 받아올 수 있음!
ecommercev1 = db.cursor()

In [5]:
ecommercev1 # <pymysql.cursors.Cursor at 0x1ba1fbdbb60> : Cursor로데이터베이스 안에 값을 컨트롤 할 수 있다!

In [9]:
sql = """
    CREATE TABLE product(
        PRODUCT_CODE VARCHAR(20) PRIMARY KEY NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT, 
        DISCOUNT_PRICE INT, 
        DISCOUNT_PERCENT INT, 
        DELIVERY VARCHAR(2)
    );
"""

In [7]:
sql # 테이블에 잘 들어갔는지 확인하기!

'\n    CREATE TABLE product(\n        PRODUCT_CODE PRIMARY KEY VARCHAR(20) NOT NULL,\n        TITLE VARCHAR(200) NOT NULL,\n        ORI_PRICE INT, \n        DISCOUNT_PRICE INT, \n        DISCOUNT_PERCENT INT, \n        DELIVERY VARCHAR(2)\n    );\n'

In [10]:
ecommercev1.execute(sql) #

0

In [11]:
db.commit() # 변경 사항 저장

In [12]:
db.close() # 닫기

In [ ]:
##### 여기 위까지 하나의 종결되어진 프로젝트! pymysql을 통해 sql을 테이블을 만듦! #######

In [ ]:
##### 이제 다시 열어야함! ######## 위에꺼 다시 눌러도되지만 기록해놓으려고 복붙함!

In [80]:
import pymysql

# connect : pymysql에 접속할 수 있게 해주는 것!
db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = "asdf1122",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [81]:
## db안에 테이블안에 값 만들기
cursor = db.cursor() # 테이블 값을 처리할 수 있는 역할

In [58]:
for index in range(10) :
    product_code = 215879150 + index + 1 # 고정된 상수값에 연결된 연산자 index => 반복할때마다 1을 올려준다!
     # 값을 추가하는 sql 문법
    SQL = f"""
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        );
    """
    print(SQL)
    ## '{product_code}' 숫자를 문자열로 변환
    cursor.execute(SQL)

        INSERT INTO product VALUES(
            '215879151',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        );

InterfaceError: (0, '')

In [55]:
db.commit()

In [64]:
db.close()

In [ ]:
##### 데이터 조회해보기! #####

In [ ]:
# fetchall() : 해당 테이블 내 모든 데이터를 가져옵니다.
# fetchone() : 매칭되는 해당 값 중 첫번쨰 값을 가져옵니다.
# 가져오는 값은 리스트 형태로 가져옴!
# > 이미 앞에서 먼저 찾아온 값이 존재한다면, 해당 값 이후부터 값을 찾아옴.
# fetchmany() : 인자값으로 작성된 숫자만큼의 데이터를 가져옵니다.

In [ ]:
# 위에가서 다시 시작하기! -> cursor까지!

In [67]:
SQL = "SELECT * FROM product"
cursor.execute(SQL) # 위값이 실행될 수 있도록 cursor!
# 전체값을 찾아온 다음,
# 첫번째 값을 찾아와!
row = cursor.fetchone()
print(row)

('215673150', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [69]:
# 다음번째 값을 찾아오게 하기!
row = cursor.fetchone()
print(row) # 1이 올라감! 21567315'0' -> 21587915'1'

('215879151', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [70]:
#2개의 값을 찾아와
rows = cursor.fetchmany(2) 
print(rows) # 각각의 값을 튜플의 형태로 찾아옴. 이터러블한 객체 : 반복문 사용가능!

(('215879152', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215879153', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [71]:
# 전체 데이터 보기
rowAll = cursor.fetchall()
for row in rowAll:
    print(row) # 앞에서 찾아간 값 외에 나머지 모든 값을 찾아옴!!

('215879154', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879155', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879156', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879157', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879158', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879159', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879160', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [72]:
######### update, 삭제 ############

In [73]:
SQL = """
    UPDATE product SET
        TITLE = "썸머 가디건 코디전",
        ORI_PRICE = 33000,
        DISCOUNT_PRICE = 9900,
        DISCOUNT_PERCENT = 70
    WHERE PRODUCT_CODE = "215879160"
"""
# where -> 어디 레코드? 를 바꿀건지

In [74]:
cursor.execute(SQL)

1

In [75]:
db.commit() # 바꿨으니까 저장필수!!

In [76]:
db.close()

In [ ]:
######### update, 삭제 ############

In [ ]:
# 프로그래밍 언어는 CRUD 라는 4가지 기능을 기본적으로 가지고 있다! (보유시 고급기능)
# 마찬가지로 위에서 cursor 까지 실행시켜야함!

In [82]:
SQL = """
    DELETE FROM product
    WHERE PRODUCT_CODE = '215879160';
"""
print(SQL)

    DELETE FROM product
    WHERE PRODUCT_CODE = '215879160';

In [83]:
cursor.execute(SQL)

1

In [84]:
db.commit()

In [85]:
db.close() # > 모든 작업이 끝났을 떄 해도 됨!