#### 파이썬 입.출력 예시

- 사용자로부터 두 개의 숫자를 입력받은 후 해당 두 개의 숫자를 더한 값을 출력하는 프로그램을 작성해보세요.
- 사용자로부터 두개의 숫자를 입력받은 후 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 출력하는 프로그램을 작성해보세요.

- 리스트는 각각 고유한 인덱스 값을 가지고 있음 (0부터 시작함)
- 리스트에서 특정 인덱스값을 찾아오고자 할 때 변수명[인덱스값] & 만약 오른쪽부터 값을 찾아오고 싶다면 음수값(-1)부터 시작
- 문자열과 동일하게 슬라이싱이 있음. 변수명[시작인덱스:종료인덱스+1]
- append() : 리스트 자료구조에서 왼쪽부터 신규로 값을 추가할 수 있도록 해주는 함수. BUT 한번에 여러 값을 추가X
- extend[] : 리스트 자료구조에서 왼쪽부터 신규로 값을 추가하는데 있어서 복수의 값을 한 번에 추가할 수 있음!
- insert() : 리스트 자료구조 안에 원하는 위치에 값을 추가할 수 있는 함수 => 첫번째 인덱스는 추가하고자 하는 위치를 의미, 두번째 인덱스는 추가하고자 하는 값을 의미한다.
- remove() : 함수의 인자값을 리스트 자료구조의 왼쪽부터 서칭하다가 발견 시, 삭제해주는 함수.
- del  : del 뒤에 변수명[인덱스값]. => 해당 인덱스 값을 삭제해주는 함수.
- sort() : list 안에 있는 값을 오름차순으로 정렬할때 사용
- reverse() : list 안에 있는 값을 내림차순으로 정렬할때 사용
- split() : 문자열의 자료형태를 인자값을 기준으로 나눠서 리스트자료구조로 변환시켜주는 함수

In [ ]:
#### 리스트 자료구조 생성하는 방법
- 변수 선언과 함께 직접 대괄호 입력 후 내부에 요소들을 입력하는 방법
- 아무런 값도 존재하지 않는 빈 리스트를 만들어 놓고 값을 하나씩 채워가는 방법
- 파이썬 내 클래스 문법을 통해서 이미 생성된 리스트 프로토타입을 활용해서 인스턴스 객체를 생성하는 방법

In [8]:
num1 = input()
num2 = input()
num1 = int(num1)
num2 = int(num2)
print(num1+num2)

 4
 5

9

In [10]:
num1 = int(input())
num2 = int(input())
print("합계", num1+num2)

 45
 45

합계 90

In [18]:
num3 = int(input("첫번째 숫자를 입력하세요"))
num4 = int(input("두번째 숫자를 입력하세요"))

print("곱한 값 :", num3*num4)
print("나눈 값 :", num3/num4)
print("나눈 몫 :", num3//num4)
print("나머지 값 :", num3%num4)

print("곱한 값 :", num3*num4)
print(f"나눈 값 : {num3}/{num4}={num3/num4}")
print(num1, "//", num2, "=", num3//num4)

첫번째 숫자를 입력하세요 45
두번째 숫자를 입력하세요 45

곱한 값 2025
나눈 값 1.0
나눈 몫 1
나머지 값 0

### 데이터 자료구조 - 리스트 (list) - 데이터 크롤링할때 엄청많이 나옴

-  파이썬의 리스트 : 다른 프로그램의 언어에서는 주로 배열(array)이라는 이름으로 많이 불림

In [20]:
mydata = ["hello", 1, 3, "world"]
news = ["오마이뉴스","한국일보","시사인","뉴시스","KBSNEWS","스포츠조선"]

for media in news :
     print(media)

오마이뉴스
한국일보
시사인
뉴시스
KBSNEWS
스포츠조선

In [25]:
location =["서울시","경기도","인천시","부산시","대구시"]
print(location[0])
print(location[1])
print(location[2])
print(location)
print(type(location))

서울시
경기도
인천시
['서울시', '경기도', '인천시', '부산시', '대구시']
<class 'list'>

In [27]:
location.append("목포시")
# print(location)

location

['서울시', '경기도', '인천시', '부산시', '대구시', '목포시', '목포시']

In [30]:
location.append("완도군")

location

['서울시', '경기도', '인천시', '부산시', '대구시', '목포시', '목포시', '완도군', '완도군']

In [32]:
print(location[0:3])
location[-1]
location[-3]

['서울시', '경기도', '인천시']

'목포시'

In [37]:
location[1:3]
location

['서울시', '경기도', '인천시', '대구시', '목포시', '목포시', '완도군', '완도군']

In [40]:
location
location.remove("완도군")
location

['서울시', '경기도', '인천시', '대구시', '목포시', '목포시']

In [47]:
location
len(location)

3

In [56]:
movie = ["쥬라기월드","F1 더 무비","시네마천국"]
movie

movie.append("빅 피쉬")
print(movie)
del movie[3]
movie
for cinema in movie :
    print(cinema)

['쥬라기월드', 'F1 더 무비', '시네마천국', '빅 피쉬']
쥬라기월드
F1 더 무비
시네마천국

In [61]:
location.append("부산시")
location.extend["천안시","대구"]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [64]:
location.insert(0,"제주도")
location

['제주도', '제주도', '서울시', '경기도', '인천시', '부산시', '부산시', '부산시']

In [66]:
location01 = []
type(location01)

list

In [68]:
location01.append("강원도")
location01

['강원도', '강원도']

In [71]:
location02 = list()
print(type(location02))

<class 'list'>

In [74]:
numbers = [2,1,4,5,3,6,8,7,9]
print(numbers)

numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

[2, 1, 4, 5, 3, 6, 8, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [77]:
pythonBasic = "python is easy"
type(pythonBasic)

pylist = pythonBasic.split()
pylist[0]

'python'