In [2]:
edit = "0.5486"
print(type(edit))
edit = float(edit)
print(edit, type(edit))

<class 'str'>
0.5486 <class 'float'>

In [ ]:
hi = "how are you?"
print(list(hi))
print(hi[0:6])

In [12]:
text = "outline the way"
print(len(text))
print(text[0:7])
print(text[8:11])
print(text[:11])
print(text[3:])
print(text[::1])
print(text[::-1])

15
outline
the
outline the
line the way
outline the way
yaw eht eniltuo

In [15]:
diary = "Why do you always doing {}?"
print(diary.format())

IndexError: Replacement index 0 out of range for positional args tuple

In [11]:
art = "박람회"
print(art)
print(art,type(art))

pay = 8000
print(pay,type(pay))
pay = str(pay)
print(pay, type(pay))
pay = int(pay)
print(pay-5000)

cake = 1.865

SyntaxError: invalid syntax (708551066.py, line 13)

In [9]:
dragon = "100"
print(dragon, type(dragon))
dragon = int(dragon)
print(dragon, type(dragon))
dragon-20

wts = "1.2564"
print(wts, type(wts))
wts=float(wts)
print(wts, type(wts))
wts-1.5

100 <class 'str'>
100 <class 'int'>
1.2564 <class 'str'>
1.2564 <class 'float'>

-0.24360000000000004

In [18]:
cine = """“세월이 흘러도 마음 속 변하지 않는 이야기” 어린 시절, 영화가 전부였던 소년 토토는 마을의 작은 극장 ‘시네마 천국’에서 영사기사 알프레도를 만나 친구가 된다. 알프레도는 궂은 영사 일에 관심을 두는 토토를 말려보지만, 결국 마음을 열고 하나씩 영사 기술을 가르쳐준다. 어느 날 야외 상영 도중 일어난 화재 사고로 알프레도가 시력을 잃게 되고, 토토가 그의 뒤를 이어 정식 영사기사로 일하게 된다. 세상을 볼 수 없게 된 뒤에도 변함없이 토토의 곁을 지켜주던 알프레도는, 첫사랑에 좌절한 청년 토토에게 더 넓은 세상으로 나아가라며 마지막 조언을 남긴다.
"""
print(cine)
cine.count("""""")

trans = "뭣이 중헌디"
len(trans)
trans.replace("뭣이","뭐가")

a=[0,25,23,87,54,11,4]
a[:4]
trans[0:4]

“세월이 흘러도 마음 속 변하지 않는 이야기” 어린 시절, 영화가 전부였던 소년 토토는 마을의 작은 극장 ‘시네마 천국’에서 영사기사 알프레도를 만나 친구가 된다. 알프레도는 궂은 영사 일에 관심을 두는 토토를 말려보지만, 결국 마음을 열고 하나씩 영사 기술을 가르쳐준다. 어느 날 야외 상영 도중 일어난 화재 사고로 알프레도가 시력을 잃게 되고, 토토가 그의 뒤를 이어 정식 영사기사로 일하게 된다. 세상을 볼 수 없게 된 뒤에도 변함없이 토토의 곁을 지켜주던 알프레도는, 첫사랑에 좌절한 청년 토토에게 더 넓은 세상으로 나아가라며 마지막 조언을 남긴다.

'뭣이 중'

In [20]:
name = "민주"
age = "29"

print({}님의 나이는 {}입니다.)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (272356036.py, line 4)

In [3]:
food = []
food.append("sandwhitche",)

In [6]:
su = int(input("사용자 정수"))

if su %2 == 0 :
    print("짝수")
else :
    print("홀수")

사용자 정수 9

홀수

In [12]:
numbers = [3, 7, 1, 9, 12, 8, 4]
#조건: 5보다 크고 10보다 작으며 짝수인 수
#만족하는 숫자들만 모아서 새로운 리스트를 만들어 출력하시오.

numbers.sort()
print(numbers)
type(numbers)

if 5 < numbers < 10 and numbers%2 == 0 :
    print(list())

[1, 3, 4, 7, 8, 9, 12]

TypeError: '<' not supported between instances of 'int' and 'list'

In [17]:
numbers = [3, 7, 1, 9, 12, 8, 4]
numbers.sort()

for newnumbers in range(numbers) :
    print(5<newnumbers<10)

TypeError: 'list' object cannot be interpreted as an integer

In [26]:
data = input("주민등록번호")
data01 = data.split("-")[1][0]
data02 = data.split("-")[1][1:3]
data01= int(data01)
data02 = int(data02)

if data01 ==1 or data01 ==3 :
    print("남성")
elif data01==2 or data01==4 :
    print("여성")

if 0<=data02<9:
    print("서울")
elif 9<=data02<=12 :
    print("부산")
else:
    print("기타지역")

주민등록번호 123123-432112

여성
기타지역

In [27]:
nums = [10, 25, 30, 7, 12, 60, 5]

for ber in nums :
    if nums%2==0 :
        print(sum(ber),sum(ber)/len(ber))

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [35]:
nums = [10, 25, 30, 7, 12, 60, 5]
num = []

for ber in nums :
    if ber % 2 == 0:
        num.append(ber)

print(sum(num))
print(sum(num)/len(num))

112
28.0