In [6]:
listitems = []
tupleitems = (1,2,3) #튜플은 값을 넣을 수 없기때문ㅇ ㅔ애초에 넣어놔야함.

print(type(listitems))
print(type(tupleitems))

<class 'list'>
<class 'tuple'>

In [7]:
for item in tupleitems :
    print(item)

1
2
3

In [8]:
del.tupleitems

SyntaxError: invalid syntax (1637383938.py, line 1)

In [9]:
tupleitems.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
tupleitems[4]=4

TypeError: 'tuple' object does not support item assignment

In [15]:
tuple01 =(1,2)
tuple02 =(3,4)

print(((tuple01 + tuple02)*3)-touple02)
print(tuple01*3)

NameError: name 'touple02' is not defined

In [16]:
x=1 #x값을 y에 넣으려면?
y=2

temp = x #임시보관
x=y #Y에 넣음
y=temp

x, y =y,x

In [19]:
x, y =y,x #소괄호를 생략해도 알아서 이 값을 튜플로 인식하고 있음

2

In [28]:
def quot_and_rem(x,y) :
    quot = x // y
    rem = x%y
    return quot, rem

In [30]:
(quot01, rem01) = quot_and_rem(10,3)

In [32]:
quot01

3

In [33]:
rem01

1

In [34]:
data1 = (1,2,3)
type(data1)

tuple

In [39]:
data_list = list(data1)
print(type(data_list))
data_list #->이제 수정.편집.삭제 가능!

<class 'list'>

[1, 2, 3]