In [ ]:
구구단 2~9단까지 출력
형태는 
2 X 1 =2
.
.
.
3 X 1 = 3
.
.
.
9 X 9 =81

사용자에게 값을 받지 않음.

숫자의 범위를 정하고 형태를 이어붙여서 도출하려면 앞의 숫자와 뒤의 숫자를 다르게 설정하고 앞에 숫자가 0-9 뒤에도 0-9로 모든 경우의 수를 출력하면됨.

In [7]:
a = [2,3,4,5,6,7,8,9]
b = [1,2,3,4,5,6,7,8,9]


for a and b range(1,10)
    for a and

SyntaxError: cannot assign to expression (2402457109.py, line 5)