# 파이썬 기초문법

### 1.변수

### 2.내장함수 (*Bulit-in Function)
- print()
- input()
- type()

### 3.연산자 
- 사칙연산 
- 비교연산

### 4.자료타입
- string
- int
- float
- boolean

### 5.형변환
- int()
- float()
- str()

### 6. F-string
- F"문자열 {변수}"

### 7.문자열
- """ """
- len()
- find()
- replace(””,””)
- strip()
- format() -> 유의사항!
- [index]
- [index : index]

In [ ]:
num = 1 # num=> 변수 (*어떤 값을 담을 수 있는 그릇)
print(num)

In [4]:
print(1)

1

In [7]:
print("Hello World")

Hello World

In [5]:
type(1)

int

In [10]:
print(type(1))
print(type("1"))

<class 'int'>
<class 'str'>

In [15]:
# 연산가능
num01 = 3
num02 = 7

print(num01+num02)
print(num02-num01)
print(num02/num01)
print((7+3)*5)
print(num01*num02)

10
4
2.3333333333333335
50
21

In [20]:
print(15/7) #나누기 연산자
print(15//7) # 나누기 후 몫의 값을 정수로 찾아오는 연산자
print(15%7) #나머지 연산자
print(2 ** 3)

2.142857142857143
2
1
8

In [23]:
str_data = "Hello"#문자열
int_data = 1 #정수
float_data = 1.1 #부동소수
bool_data = True #논리형

print(type(str_data),type(int_data),type(float_data),type(bool_data))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [25]:
digit1 = 10
digit2 = 20
name = "David"

Print(digit1 + name) #동일한 자료형태의 경우에 연산처리 가능!

NameError: name 'Print' is not defined

In [32]:
num1 = 2
num2 = 4

print(num1 < num2)
print(num1 > num2)
print(num1 >=num2)
print(num1 <=num2)
print(num1 ==num2)
print(num1 !=num2)

True
False
False
True
False
True

In [ ]:
age = 29
name = "MJ"
height = 188
weight = 95
footSize = 300
glass = false
merriage = false
gender = "male"
hobby = "Gym"

In [ ]:
### 반지름이 10인 변수를 선언하시고, 해당 반지름을 기준으로 하는 원의 지름, 둘레, 넓이 값을 변수로 선언 및 할당 => 출력

In [48]:
radius = 10
pi = 3.14b15
radius2 = radius *2
radius3 = 2*pi*radius
radius4= pi * radius * radius

print("1. 반지름 :",radius, "2. 지름 :",radius2, "3. 원의 둘레 :",radius3,"4. 원의 넓이 :",radius4)
print(f"1. 반지름 :{radius}")

1. 반지름 : 10 2. 지름 : 20 3. 원의 둘레 : 62.830000000000005 4. 원의 넓이 : 314.15000000000003
1. 반지름 :10

In [60]:
#내장함수
name = input("what is your name")
address = input("where are you from?")
gender = input("man or women?")
age = input("How old are you?")
print(type(age))
print(f"Hi {name} from {address} and my gender is {gender}")

what is your name d
where are you from? d
man or women? d
How old are you? d

<class 'str'>
Hi d from d and my gender is d

In [61]:
num1 = int(input())
num2 = int(input())


print(num1 *num2)

 10
 10

100

In [64]:
num1 = int(input())
num2 = int(input())


num1 * num2

 10
 5

50

In [69]:
newName = input()
age = input()

print(f"My name is {newName} and my age is {age}.")

 MJ
 20

My name is MJ and my age is 20.

In [80]:
num3 = 6.3
num4 = 1

print(num3)
print(int(num3))

print(num4, type(num4))
print(float(num4))
print(str(num4), type(num4))

num5 = str(num4)
print (type(num5))

6.3
6
1 <class 'int'>
1.0
1 <class 'int'>
<class 'str'>

In [104]:
a=1.4
b=2

b=float(b)

a=str(a)

print(a,type(a), int(b), type(b))

print(float(a))

1.4 <class 'str'> 2 <class 'float'>

ValueError: invalid literal for int() with base 10: '1.4'

In [112]:
num3 = 6.3
num4 = 1

print(type(num3))
print(type(num4))

int(num3)

print(type(num3))

num3 = int(num3)
print(type(num3))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>

In [143]:
article1 = "주인공 성기훈의 내레이션과 함께, 어릴 적 기훈이 동네 친구들과의 오징어 게임에서 이기는 장면을 보여준 후 타이틀이 등장하면서 시작한다."
article2 = """성인이 된 기훈은 이혼한 뒤 대리운전 기사 등을 전전하다 백발의 노모에게 얹혀살고 있었고, 하나뿐인 어린 딸 가영의 생일 선물을 살 돈도 어머니에게서 받아내는 비루한 인생을 살고 있었다.
이혼 후 가영은 재혼한 전처가 키우고 있었지만, 
기훈은 가영의 생일도 챙겨주지 않고 어머니의 돈을 몰래 빼내서 경마 도박에 올인하는데 딸의 생일(6월 8일) 날짜를 이용해 베팅하며 우여곡절 끝에 456만 원이라는 거금을 얻게 된다.
\n[4] 밖으로 나와 가영이와 전화 통화를 하며 즐거워하던 것도 잠시, 
자신을 찾아온 사채업자 김정래 대표 때문에 황급히 도망치다 누군가와 부딪히고 주머니에 있는 455만 원을 전부 소매치기당하고 만다. 
기훈은 이를 눈치챌 틈도 없이 도망치다 결국 사채업자들에게 붙잡혀 화장실에서 신체포기각서를 쓰게 된다.[5] 어떻게든 만 원이라도 만들어서
[6] 인형뽑기로 권총 라이터를 선물했다가
[7] 황급히 가져간 뒤에 떡볶이를 사주지만, 
아버지 노릇도 제대로 못해준 나머지 그저 자괴감만 든다.
결국 "내년 생일에는 더 잘 챙겨줄게."라며 애써 가영을 위로하지만 가영이는 아무런 대답을 못하고 머뭇거린다."""


print(article2)

성인이 된 기훈은 이혼한 뒤 대리운전 기사 등을 전전하다 백발의 노모에게 얹혀살고 있었고, 하나뿐인 어린 딸 가영의 생일 선물을 살 돈도 어머니에게서 받아내는 비루한 인생을 살고 있었다.
이혼 후 가영은 재혼한 전처가 키우고 있었지만,
기훈은 가영의 생일도 챙겨주지 않고 어머니의 돈을 몰래 빼내서 경마 도박에 올인하는데 딸의 생일(6월 8일) 날짜를 이용해 베팅하며 우여곡절 끝에 456만 원이라는 거금을 얻게 된다.

[4] 밖으로 나와 가영이와 전화 통화를 하며 즐거워하던 것도 잠시,
자신을 찾아온 사채업자 김정래 대표 때문에 황급히 도망치다 누군가와 부딪히고 주머니에 있는 455만 원을 전부 소매치기당하고 만다.
기훈은 이를 눈치챌 틈도 없이 도망치다 결국 사채업자들에게 붙잡혀 화장실에서 신체포기각서를 쓰게 된다.[5] 어떻게든 만 원이라도 만들어서
[6] 인형뽑기로 권총 라이터를 선물했다가
[7] 황급히 가져간 뒤에 떡볶이를 사주지만,
아버지 노릇도 제대로 못해준 나머지 그저 자괴감만 든다.
결국 "내년 생일에는 더 잘 챙겨줄게."라며 애써 가영을 위로하지만 가영이는 아무런 대답을 못하고 머뭇거린다.

In [145]:
print(article2.count("기훈"))
print(len(article2))
print(article2.find("인"))
print(article2.find("기사")

      #동의보감 -> 동 : 0 의 :1 보 :2 감 :3 => 문자열의 전체 총개수 -1 =마지막번쨰 문자열의 인덱스 값과 항상 동일

3
574
1
21

In [146]:
article3 = """Actor Brad Pitt's home in Los Angeles has been ransacked by a trio of thieves.

Three suspects broke into the home in Los Feliz late on Wednesday through a front window and "ransacked the location," according to the Los Angeles Police Department.

Police did not confirm the home belonged to the Oscar-winning actor, but the address matched that of a home Mr Pitt purchased in 2023."""

In [153]:
print(article3)
print(article3.find("A"))
print(article3.find("a"))
print(article3.replace("Brad Pitt's","MJ"))

Actor Brad Pitt's home in Los Angeles has been ransacked by a trio of thieves.

Three suspects broke into the home in Los Feliz late on Wednesday through a front window and "ransacked the location," according to the Los Angeles Police Department.

Police did not confirm the home belonged to the Oscar-winning actor, but the address matched that of a home Mr Pitt purchased in 2023.
0
8
Actor MJ home in Los Angeles has been ransacked by a trio of thieves.

Three suspects broke into the home in Los Feliz late on Wednesday through a front window and "ransacked the location," according to the Los Angeles Police Department.

Police did not confirm the home belonged to the Oscar-winning actor, but the address matched that of a home Mr Pitt purchased in 2023.

In [169]:
# 파이썬의 문자열 기능중에 슬라이스 기능이 있음!

text01 ="python"
print(text01)
print(text01[0])
print(text01[1])
print(text01[2])
print(text01[3])
print(text01[4])
print(len(text01))

print(text01[len(text01)-1])
print(text01[0:2])
print(text01[2:4])
print(text01[1:5])
print(text01[1:6])
print(text01[-2])
print(text01[4])

python
p
y
t
h
o
6
n
py
th
ytho
ython
o
o

In [178]:
some_string="   computer   "
print(len(some_string))

print(some_string.strip())
some_string2 = some_string.strip()
print(len(some_string2))
some_string3 = ",,,David,,,"
print(some_string3.strip(","))
print(some_string3.strip("v"))

14
computer
8
David
,,,David,,,

In [185]:
var01 = "pen"
var02 = "apple"

print(f"I have a {var01} I have a {var02}")

print("I have a {}. I have a {}.".format("pen","apple"))
print("I have a {1}. I have a {0}.".format("pen","apple"))
print("I have a {0}. I have a {0}.".format("pen","apple"))
print("I have a {1}. I have a {1}.".format("pen","apple"))

I have a pen I have a apple
I have a pen. I have a apple.
I have a apple. I have a pen.
I have a pen. I have a pen.
I have a apple. I have a apple.

In [187]:
interest = 0.897
print(format(interest, "0.2f"))

0.90

In [194]:
print("I have a %f. I have a %s." % (5.4,"apple"))

#%s → 문자열을 넣어주는 함수
%d → 정수를 넣어주는 함수
%f → 부동소수값 입력

I have a 5.400000. I have a apple.