## SQL 학습 전 반드시 알고가야하는 개념 정의 (배경, 개념, 구조)
1. 데이터 (Data) <-> 데이터 베이스(Data Base)
2. 데이터 베이스(Data Base)
3. 스키마 (Schema 구조,틀,템플릿) -데이터베이스 서버를 다룰 때 많이 사용
4. 테이블 (Table)
5. SQL

### 1. 데이터(Data)
- 수집가능한 값, 사실, 기록물 등의 원초적인 정보 
- ex) 숫자 23, 5.9
      문자 "David" , "25-07-31"
      상태 "True" , "False"
- 데이터 그 사실 자체로는 의미가 부족함 -> 구조화가 되어야 데이터는 비로소 가치를 가짐. 데이터가 모여서 패턴을 보이게 될 때!

### 2. 데이터 베이스 (Data Base DB)
- 데이터를 구조화 할 수 있게 저장해주는 저장소!
- 여러가지 다양한 데이터를 구조적이고 체계적으로 저장 및 관리할 수 있도록 해주는 저장소
- 종류
  1, 관계형 데이터베이스 : RDBMS, 구조적이고 체계적으로 저장되어있는 데이터를 관계식을 만들어놓음. 데이터끼리 필요할 때마다 찾아올 수 있게끔! // 툴 - 오라클(Oracle), MYSQL 등 우리는 MYSQL 배울것. oracle은 기능은 좋으나 난이도가 있는 편!
  2, 비관계형 데이터베이스 : DBMS, 관계를 맺긴 하나, 전통적방식에서 벗어난 방식. // 툴 - 몽고 DB(MongoDB)
- 개념 예) 오프라인 가게를 운영하는데, 일일 고객 주문정보, 특정기간동안 사용한 재고 수량 등 분류가 필요한 작업 등 효율적이고 체계적으로 만들자!

### 3, 스키마 (Schema)
- 데이터베이스의 구조를 정의한것. 개념적인요소.
- 데이터베이스를 어떻게 구조화 할 것인지 정의해 놓은 일종의 설계도.
- 스키마는 데이터베이스 내부에 존재하는 논리적 구조

### 4, 테이블 (Table)
- 관계형 데이터 베이스안에 저장된 실제 데이터의 저장 단위!
- 데이터들을 오리지널로 두는게 아니라 테이블에 넣고 테이블 간에 관계를 어떻게 맺을 것인가? =  타입에 따라서 분류하면 스키마!
- 구성요소
  열 (Column) : 열 안에 있는 데이터 - 속성 (ex.고객의 나이, 성별, 이메일 등) 세부적인 내용 나뭇잎 
  행 (row) : 하나의 행을 -레코드라고 불림 (ex. 한명의 고객) 하나의 가지

### 5, SQL (Sturctured Query Language)
- 데이터 베이스에 명령어(정의, 조작, 제어)를 요청하게끔 도와주는 언어!
- 나중에 구글 애널리틱스에서 데이터 베이스를 만들어낼때 필요한 요소가 빅쿼리!(=S Query L)로 시각화 -> 루쿼스튜디오
- 문법이 방대함. so, 3가지 방식으로 기능을 나눠서 정리하는게 좋음 & 대표적 예시
- DDL (Data Definition Language) : 생성 CREATE, (테이블을)버리거나 DROP, 대체할때 ALTER
- DML (Data Manipulation Language) : 조작 SELECT, 데이터 사이에 끼워넣기 INSERT, 업데이트 UPDATE (세부적 데이터)제거 DELETE
- DCL (Data Control Language) : 획득 GRANT, REVOKE 권한 설정 등의 문법.

### 지금까지 설명한 내용 정리 & 요약

- 데이터 : 가장 하위 개념. 원초적인 정보를 의미
- 테이블 : 해당 데이터를 담은(구조화) 틀
- 스키마 : 이러한 테이블 간 관계를 정의한 설계도면
- 데이터베이스 : 스키마의 개념속에 존재하는 테이블이 포함된 상위구조 및 개념
- SQL : 이 모든 구조를 만들고, 조작하고, 제어할 수 있도록 해주는 언어

#### 지금까지 학습했던 데이터 수집 관련 프로그램 정의 
- 아나콘다(Anaconda) : Python 통합관리 플랫폼! 언어를 다룰 수 있게끔 해주는 통로 정도!
 파이썬관련 다양한 라이브러리, 실행환경, 패키지 등을 종합적으로 제공해주는 플랫폼. 많은 요소들을 내포.
- 쥬피터 노트북 (Jupyter Notebook) : Python 언어를 코딩 프로그램. python editor
- MySQL : 관계형 데이터베이스 구조 공간을 설계하도록 지원해주는 관계형 데이터베이스 전문 프로그램
  사용방법 2가지
    MySQL WorkBench : MySQL을 시각적으로 보면서 테이블을 설계하고 각각의 테이블간 관계를 설정할 수 있도록 도와주는 GUI 방식의 보조 프로그램
    /window 설치방법### 지금까지 학습했던 데이터 수집 관련 프로그램 정의 
- 아나콘다(Anaconda) : Python 통합관리 플랫폼! 언어를 다룰 수 있게끔 해주는 통로 정도!
 파이썬관련 다양한 라이브러리, 실행환경, 패키지 등을 종합적으로 제공해주는 플랫폼. 많은 요소들을 내포.
- 쥬피터 노트북 (Jupyter Notebook) : Python 언어를 코딩 프로그램. python editor
- MySQL : 관계형 데이터베이스 구조 공간을 설계하도록 지원해주는 관계형 데이터베이스 전문 프로그램
  사용방법 2가지
    MySQL WorkBench : MySQL을 시각적으로 보면서 테이블을 설계하고 각각의 테이블간 관계를 설정할 수 있도록 도와주는 GUI 방식의 보조 프로그램
    /window 설치방법-mysql community download

#### 프로그래밍 영역에서 꼭 알고있어야 하는 상식
4가지 기능의 수준에 따라서 좋은 프로그램인지 식별함! 
- C : Creat 
- R : Read
- U : Update
- D : Delete

#### table 생성 문법

CREATE TABLE 테이블이름(
    컬럼명, 데이터형,
    컬럼명, 데이터형,
    ...
    기본키(PRIMARY KEY)
);

#### Dave 라는 DB를 생성, 해당 DB 안에 다음과 같은 속성을 가지고 있는 테이블을 생성하세요.
id, name, modelnumber, series
id는 양의 정수값, 필수값 unsigned not null, 자동증가
name은 최대 50자까지 가능한 문자열 & 필수값
modelnumber는 최대 15자까지 가능한 문자열 & 필수값
series는 최대 30자까지 가능한 문자열 & 필수 값
고유 식별키는 id

1. name 의 최대 문자입력 값을 20으로 변경
2. modelnumber 속성명을 model-number로 변경 & 최대 10자까지 변경
3. series 속성명을 model_type 으로 변경 & 최대 10자까지로 변경

1. 기존 데이터 베이스 내 privit을 삭제하세요.
2. model_info 라는 새로운 테이블을 만들어주세요.
3. 해당 테이블 안에는 id, name, model_num, model_type의 속성값을 설정해주세요.
4. 고유키는 id여야 하며, 필수값, 자동 증가 속성 부여해주세요
5. name은 최대 20 자까지 허용가능, 필수
6. model_num은 최대 10자까지 허용가능, 필수
7. model_type은 최대 10자까지 허용가능, 필수

### DDL 문법 확실하게 소화할만큼 숙지!
- CREATE DATABASE dbname
- CREATE DATABASE IF NOT EXISTS dbname
- SHOW DATABASES (복수형!)
- USE dbname
- CREATE TABLE tablename()
- CREATE TABLE IF NOT ECISTS tablename()
- DROP TABLE tablename
- DROP TABLE IF EXISTS tablename
- ALTER TABLE tablename ADD COLUMN 속성명 속성값;
- ALTER TABLE tablename MODIFY COLUMN 속성명 속성값; -> 속성을 정리하는데 다른 타입으로 변경하고 싶을때!
- ALTER TABLE tablename CHANGE COLUMN 속성명 바꾸는명 속성값;
- ALTER TABLE tablename DROP COLUMN 속성명; -> 속성제거

In [ ]:
DD 생성되어진 요소에 값을 넣어본 적이 없음!

#### DML
- INSERT INTO tablename VALUES (Field Value,Field Value,Field Value,Field Value); -> 필드의 순서가 중요! 데이터가 엉킬 수도..
- INSERT INTO tablename(Field,Field,Field,Field) VALUES (Field Value,Field Value,Field Value,Field Value); -> 덜 헷갈리게 하는 방법
- INSERT INTO tablename(Field,Field,Field,Field) VALUES (Field Value,Field Value,Field Value,Field Value),(Field Value,Field Value,Field Value,Field Value); -> 복수의 값 추가로넣는 방법
- DESC tablename; -> 필드의 속성 알아보기
  
- SELECT * FROM students; -> 모든 필드 값 알아보기
- SELECT column FROM tablename;
- SELECT column,column FROM tablename; ->column 복수로 찾아오기
- SELECT * FROM tablename WHERE column = value;
- ("=",">","!=","<>")
- SELECT * FROM tablename WHERE column >= value AND column = value;
- SELECT * FROM tablename WHERE column >= value OR column = value;
- SELECT * FROM tablename WHERE column LIKE "%value%"; 
- SELECT * FROM tablename WHERE column LIKE "_value_";

- UPDATE tablename SET column = value;
- UPDATE tablename SET column = value WHERE column = value; #safty mode
- UPDATE tablename SET column = value WHERE Pirmarykey = primaryvalue; 

- DELETE FROM tablename; #안좋은 방법
- DELETE FROM tablename WHERE column = value;

#### 회원정보 관리 시시템을 구축하기 위한 멤버십 DB를 하나 만들어주세요.
- 조건 1, DB안에는 1개읠 테이블이 존재합니다, 각각의 레코드에는 속성인 회원번호, 이름 이메일 생년월일 가입일시 포인트 성별이 반드시 속성으로 포함되어 있어야함.
- 조건 2, 최소 3명의 회원 정보가 들어갈 수 있도록 임의로 데이터를 적용해주세요
- 조건 3, 해당 DB및 테이블이 모두 설계 되었다면 고객 포인트가 1000 이상인 회원만 조회 및 출력해주세요.
- 조건 4, 이메일 도메인이 @google.com인 사람만 조회할 수 있도록 코드를 작성해주세요.

#### DCL